﻿
/*MIN WIDTH 320PX*/

@media (min-width:320px){
    .welcome{
        .cot{
            top:45%;
            right:10%;
            p{
                font-size:0.9rem;
                padding-bottom:25px;
            }
            button{
                font-size:1rem;
                width:100px;
                height:40px;
            }
        }
    }
    .homepage{
        .sld{
            .text{
                bottom:10%;
                right:5%;                
                h1{
                    font-size:1.6rem;
                }
                p{
                    font-size:0.8rem;
                    span{
                        display:block;
                    }
                }
            }
        }
    }
    footer{
        .ft{
           width:100%;
            left:50%;
            transform:translate(-50%,0);
        }
    }
    .product{
        .pd{
           width:100%;
            left:50%;
            transform:translate(-50%,0);
        }
    }
    header{
        .khungAnh{
            &:before{
                padding-bottom:60%;
            }            
        }
        .left, .right{
            top:35%;
            font-size:2rem;
        }
        .left{
            left:0;
        }
        .right{
            right:0;
        }
        .mn{        
            top:10px;
            width:100%;
            left:50%;
            transform:translate(-50%,0);
             
            .logo{
                a{                    
                    img{
                        width:80px;
                    }
                }
            }
            .menu{   
                margin-top:0;                           
                i{
                    font-size:0.9rem;
                    margin-left: 15px;
                }
                .menu1{
                    min-width:120px;
                    right:16%;
                    z-index:3;
                    .active{
                        padding-bottom:2px;
                        padding-top:2px;
                        border-bottom:solid 1px #666;
                        border-top:solid 1px #666;
                    }
                     .drop{
                        width:100%;
                        .drw{
                            left:-63%;
                            top:0;   
                            a{
                                padding-top:2px;
                                padding-bottom:2px;
                                &:first-child{
                                    padding-top:4px;
                                }
                                &:last-child{
                                    padding-bottom:4px;
                                }                                
                            }                     
                        }
                    }
                    a{
                        margin:0;
                        font-size:0.75rem;
                        padding-bottom:2px;
                        padding-top:2px;
                        &:hover{
                            padding-bottom:2px;
                            border:none;
                        }
                        &:first-child{
                            padding-top:4px;
                          }
                         &:last-child{
                            padding-bottom:4px;
                          }
                    }
                }
            }
        }
    }

    .about{
        padding-top:50px;
        padding-bottom:50px;
        .pop2{
            width:90px;
        }
        .pop1{
            width:150px;
            right:1%;
            bottom:2%;
        }
        .ab{
            .khungAnh{
                display:none;
            }
            .text{
                width:100%;
                padding-left:20px;
                padding-right:25px;
                padding-bottom:50px;
                height:auto;
                button{
                    margin-top:10px;
                }
                h5{
                    padding-bottom:20px;
                    font-size:1.4rem;
                }
                p{
                    font-size:0.9rem;
                    span{
                        display:none;
                    }
                }
            }
        }
    }

    .product{
        .parallax-product{
            min-height:320px;
        }
        .pd{
            top:30px;
            h5{
                font-size:1.4rem;
                padding-bottom:20px;
            }
            .c1{
                margin-right:5px;

            }
            .c2{
                margin-left:5px;
            }
            .c1, .c2{
                width:139px;
                height:96px;
            }
            .cake{
                background-size:40px;
                background-position:center 15px;
                &:before{
                    left:50%;
                    transform:translateX(-50%);
                    font-size:0.9rem;
                    bottom:10%;
                }
                &:hover{
                     background-size:40px;
                     background-position:center 15px;
                }
            }
            .maca{
                 background-size:50px;
                 background-position:center 30px;
                &:before{
                    left:50%;
                    transform:translateX(-50%);
                    font-size:0.9rem;
                    bottom:10%;
                }
                &:hover{
                     background-size:50px;
                     background-position:center 30px;
                }
            }
            .cup{
                background-size:34px;
                background-position:center 12px;
                &:before{
                    left:50%;
                    transform:translateX(-50%);
                    font-size:0.9rem;
                    bottom:10%;
                }
                &:hover{
                     background-size:34px;
                     background-position:center 12px;
                }
            }
            .ev{
                background-size:40px;
                background-position:center 13px;
                &:before{
                    left:50%;
                    transform:translateX(-50%);
                    font-size:0.9rem;
                    bottom:10%;
                }
                &:hover{
                     background-size:40px;
                     background-position:center 13px;
                }
            }
        }
    }

    .bake{
        .pop1{
            width:110px;
            top:8%;
        }
        .pop2{
            width:120px;
            bottom:-2%;
        }
        .bake1{
            .text{
                width:100%;
                margin-left:0;
                padding-left:20px;
                padding-right:25px;
                height:auto;
                padding-bottom:50px;
                text-align:right;
                h5{
                    font-size:1.4rem;
                    padding-bottom:20px;
                }
                p{
                    font-size:0.9rem;
                    span{
                        display:none;
                    }
                }               
            }
            .video{
                display:none;
            }
        }
    }
    .gallery{
        padding-top:0;
        padding-bottom:50px;
        .gallery1{
            h5{
                font-size:1.4rem;
                padding-bottom:20px;
                margin-bottom:0;
            }
        }        
        .left1, .right1{
            top:39.5%;
        }
        .left1{
            left:1%;
        }
        .right1{
            right:1%;
        }
        .hang2{            
            .khungAnh{
                width:120px;
                margin-bottom:10px;
                &:before{
                    padding-bottom:127.11%;
                }
            }             
            .c1{
                 margin-left:15px;                    
            }
            .c2{
                margin-left:5px;
            }       
        }
    }
    footer{
        .parallax-footer{
            min-height:150px;
        }
        .ft{
            top:18px;
            .logo{
                img{
                    width:100px;
                }
            }
            .nut{
                margin-top:20px;
                margin-bottom:10px;
                a{
                    img{
                        width:30px;
                    }
                    &:nth-child(2){
                        margin-left:25px;
                        margin-right:25px;
                    }
                }
            }
            p{
                font-size:0.8rem;
                margin-bottom:0;
            }
        }
    }







    .prdpage{
        .heading{
            width:100%;
            left:50%;
            transform:translate(-50%,0);
        }
    }

    .prdpage{
        .parallax-pd, .parallax-cart, .parallax-about, .parallax-contact, .parallax-gallery, .parallax-baking{
            min-height:155px;
        }
       
        .heading{
            bottom:5px;
            h1{
                font-size:1.5rem;
                margin-bottom:15px;               
            }
            p{
                text-align:right;
                font-size:0.8rem;
                float:right;
                max-width:150px;
                margin-bottom:0;
            }
           
        }
    }
    .icon{
        .khungAnh{
            &:before{
                padding-bottom:100%;
            }
        }
        .icon1{
            width:100%;
            left:50%;
            transform:translate(-50%,0);
            top:11%;
            button{
                width:120px;
                height:120px;
            }
            .cake{
                background-size:50px;
                background-position:center 15px;
                &:before{
                    font-size:1rem;
                    bottom:17%;                    
                }
                &:hover{
                    background-size:50px;
                    background-position:center 15px;
                }
            }
            .maca{
                background-size:60px;
                background-position:center 35px;
                &:before{
                    font-size:1rem;
                    bottom:17%;                    
                }
                &:hover{
                    background-size:60px;
                    background-position:center 35px;
                }
            }
            .cup{
                background-size:42px;
                background-position:center 15px;
                &:before{
                    font-size:1rem;
                    bottom:17%;                   
                }
                &:hover{
                    background-size:42px;
                    background-position:center 15px;
                }
            }
            .ev{
                background-size:50px;
                background-position:center 15px;
                &:before{
                    font-size:1rem;
                    bottom:17%;                   
                }
                &:hover{
                    background-size:50px;
                    background-position:center 15px;
                }
            }
        }
    }
    .products1{
        .khungAnh:before{
            padding-bottom:550%;
        }
        .hang2{
            margin-top:15px;
        }
        .prd1{
            width:100%;
            left:50%;
            transform:translate(-50%,0);
            
            .slick-dots{
                margin-top:30px;
            }
            .c1, .c3{
                padding-right:7px;                
            }
            .c2, .c4{
                padding-left:7px;
            }
            .c1, .c2{
                margin-bottom:15px;
            }
            .cake{
                height:90px;
                padding-top:10px;
                p{
                    font-size:0.8rem;
                    span{
                        display:block;
                    }
                }
            }
        }
    }  
    .lb1{
        width:250px;
        height:auto;
        .khungAnh:before{
            padding-bottom:61.86%;
        }
        .cart{
            top:50%;
            left:50%;
            transform:translate(-50%,-50%);
            width:280px;
            padding:20px;
            font-size:1.2rem;
            height:auto;
            p{
                span{
                    display:block;
                }
            }
        }
        .content{
            padding:10px;
            height:auto;
            h6{
                font-size:1rem;
                margin-bottom:5px;
            }
            .price{
                font-size:0.9rem;
                margin-bottom:0;
            }
            p{
                margin-bottom:0;
                font-size:0.8rem;
                .hide{
                    display:none;
                }
            }
            .quantity{
                margin-bottom:0;
                margin-top:15px;
            }
            .add{
                width:150px;
                height:40px;
                left:50%;
                transform:translateX(-50%);
                margin:0;
                margin-top:10px;
                &:after{
                    width:220px;
                    left:50%;
                    transform:translateX(-50%);
                    top:-7px;
                }
            }
        }
    }
    a.lightbox-close1{
        z-index:2;
        font-size:1.2rem;
        right:-30px;
        top:-7px;
    }
     .lightbox-target1:target img{
        max-width:unset;
        height:unset;
    }


     .cart1{
         text-align:left;
         .khungAnh:before{
             padding-bottom:450%;
         }
          .pay{
            text-align:center;
         }
         .info{
             text-align:center;
         }
         .cart2{
             top:2%;
             .pay{
                 margin-top:20px;
             }
             .info{
                 margin-top:30px;
             }
             .order1{
                 .hang{
                     margin-bottom:20px;
                     img{
                         width:100%;
                     }
                 }
                 .cot2{
                     text-align:left;
                     padding-left:0;
                     p{
                         margin-bottom:0;
                         padding-top:5px;
                         font-size:0.9rem;
                         span{
                             font-weight:bold;
                             text-transform:uppercase;
                             margin-right:5px;
                         }
                     }
                     p:first-child{
                         padding-top:0;
                     }
                 }
             }
             .total{
                 p{
                     font-size:1.2rem;
                 }
             }
             .cake{
                 padding-top:15px;
                 &:first-child{
                     padding-top:0;
                 }
             }
             h5{
                 font-size:1.2rem;
                 text-align:center;
                 font-weight:bold;
             }
             .info{
                 .hang1{
                     input{
                         width:290px;
                         margin-left:0;
                     }
                 }
                 .hang2{
                     input{
                         width:290px;
                         margin-left:0;
                     }
                 }
             }
         }
     }
     .prdpage{
         .cart{
             bottom:45px;             
         }
     }
     .lb3{
         width:280px;
         font-size:1rem;
         p{
             span{
                 display:block;
             }
         }
     }


     .aboutpage{
         .khungAnh:before{
             padding-bottom:195%;
         }
         .ab{
             top:10%;
             .khungAnh{
                 display:none;
             }

             .text{
                 width:unset;
                 height:unset;
                 margin-left:0;
                 padding:30px 20px;
                 h5{
                     font-size:1.5rem;
                 }
                 p{
                     span{
                         display:none;
                     }
                 }
             }
         }
         .pop1{
             .khungAnh{
                 width:100px;
             }
         }
         
     }
    
     .wedo{
         .khungAnh:before{
             padding-bottom:150%;
         }
         .ab{
             .khungAnh{
                 display:none;
             }
             .text{
                 width:unset;
                 height:unset;
                 padding:30px 20px;
                 h5{
                     font-size:1.5rem;
                 }
                 p{
                     span{
                         display:none;
                     }
                 }
             }
         }
     }
     .staff{
         .staff1{
             h5{
                 font-size:1.5rem;
                 padding-bottom:30px;
             }
         }
         .khungAnh:before{
             padding-bottom:100%;
         }
         .left1, .right1{
             top:40%;
         }
     }






     .video01{
         padding-top:50px;
         .vd{
             .video2{
                 width:100%;
                 height:150px;
             }
         }
     }
     .baking{
         padding-top:50px;
         .baking1{
             .hang1{
                 .hide{
                     display:none;
                 }
                 h1{
                     font-size:1.5rem;
                     margin-bottom:20px;
                 }
                 p{
                     font-size:0.9rem;
                     margin-bottom:30px;
                 }
             }
             .hang2{
                 .cot{
                     margin-bottom:30px;
                 }
             }
         }
     }

     .classpic{
         padding-top:30px;
         padding-bottom:50px;
         .class1{
             h1{
                 font-size:1.5rem;
                 margin-bottom:30px;
             }
             .hang2{
                 margin-bottom:15px;                 
             }
             .a{
                 padding-right:7px;
             }
             .b{
                 padding-left:7px;
             }
         }
     }
     .baking{
         .baking1{
             .hang2{
                 .khungAnh:before{
                     padding-bottom:100%;
                 }
                 .cot{
                     .text{
                         h6{                             
                             padding-top:20px;
                             font-weight:bolder;
                         }
                         p{
                             font-size:1.1rem;
                         }
                         button{
                             margin-bottom:20px;
                         }
                     }
                 }
             }
         }
     }

     .lb2{
         width:280px;
         height:400px;
         .khungAnh:before{
             padding-bottom:60%;
         }
         .content{
             height:auto;
             .content1{
                 padding-top:15px;
                 padding-left:10px;
                 padding-right:10px;
                 h5{
                     font-size:1.5rem;
                     margin-bottom:10px;
                     font-weight:bold;
                 }
                 .hide{
                     display:none;
                 }                
                 h6{
                     font-size:1rem;
                     &:after{
                         width:80px;
                     }
                 }
                 .bang2{
                     font-size:0.9rem;
                     margin-bottom:15px;
                     .tr{
                         height:unset;
                         .td{
                             &:first-child{
                                 width:150px;
                             }
                         }
                     }
                 }
                 .giua{
                     font-size:0.8rem;
                 }
                 .detail{
                     font-size:1rem;
                     button{
                         font-weight:bold;
                         text-align:center;
                         background-color:#747474;
                         color:#fff;
                         margin-bottom:10px;
                         height:35px;
                     }                    
                     .bang{
                         position:absolute;
                         margin-bottom:0;
                         left:0;
                         z-index:2;
                         background-color:#f1f1f1;
                         padding:10px;
                         display:none;
                         border:solid 1px #333;
                         color:#333;
                         text-align:left;
                          button{
                                 background-color:transparent;
                                 width:20px;
                                 height:20px;
                                 color:#333;
                                 position:absolute;
                                 top:0;
                                 right:0;
                             }
                         
                         .bang3{
                             font-size:0.9rem;                              
                             .tr{
                                 padding-bottom:2px;
                                 .td{
                                     &:first-child{
                                         vertical-align:top;
                                         padding-right:10px;
                                     }
                                 }
                             }
                         }
                     }
                     .bangdetail{
                             display:block;
                         }                    
                 }
                 button{
                     margin-left:5px;
                 }                 
             }
         }
          
         .book1{
             width:280px;
             font-size:1rem;
             p{
                 span{
                     display:block;
                 }
             }
         }
     }







     .contact1{
         padding-top:60px;
         padding-bottom:60px;
         .text{
             width:100%;
             float:none;
             padding:0;
             padding-top:30px;
             padding-bottom:30px;
             height:auto;
             h5{
                 font-size:1.5rem;
                 text-align:center;
                 margin-bottom:25px;
             }
             h6{
                 font-size:1.2rem;
                 margin-bottom:15px;
             }
             .dif{
                 font-size:0.9rem;
                 margin-bottom:30px;
                 margin-left:0;
             }
             p{
                 font-size:0.9rem;
                 margin-left:45px;
                 margin-bottom:10px;
                 img{
                     width:20px;
                 }
             }
         }
         .map{
             margin-top:30px;
             height:200px;
             iframe{
                 width:100%;
                 height:100%;
             }
         }
     }

     .prdpage{
         .contact{
             bottom:30px;
             p{
                 span{
                     display:block;
                 }
             }
         }
         .gl{
             bottom:10%;
             p{
                 max-width:170px;
             }
         }
     }









     .gallerypage{
         padding-bottom:20px;
         padding-top:50px;
         .slick-dots{
             margin-top:10px;
         }
         .a{
             padding-right:7px;
         }
         .b{
             padding-left:7px;
         }
         .gl2{
             .khungAnh:before{
                 padding-bottom:95%;
             }
         }
     }
     
     
}

/*END MIN WIDTH 320PX*/







/*MIN WIDTH 360X*/

@media (min-width:360px){
    .products1{
        .khungAnh:before{
            padding-bottom:530%;
        }
    }
    .cart1{
        .khungAnh:before{
            padding-bottom:430%;
        }
        .cart2{
            .order1{
                .cot2{
                    p{
                        padding-top:12px;
                    }
                }
            }
        }
    }
    .welcome{
        .cot{
            right:7%;
        }
    }
    .aboutpage{
        .khungAnh:before{
            padding-bottom:150%;
        }
    }
     .wedo{
        .khungAnh:before{
            padding-bottom:130%;
        }
    }
      .staff{
        .khungAnh:before{
            padding-bottom:90%;
        }
    }


      .contact1{
          .text{
              p{
                  margin-left:65px;
              }
          }
      }
      .gallery{
          .hang2{
              .c1{
                  margin-left:35px;
              }
          }
      }
      header{
          .mn{
              .menu{
                  .menu1{
                      .drop{
                          .drw{
                              left:-62%;
                          }
                      }
                  }
              }
          }
      }
}

/*END MIN WIDTH 360PX*/







/*MIN WIDTH 375X*/

@media (min-width:375px){
    .homepage{
        .sld{
            .text{
                bottom:15%;
            }
        }
    }
    .product{
        .pd{
            .c1, .c2{
                width:150px;
            }
        }
    }   
    .gallery{
        .hang2{
            .khungAnh{
                width:150px;
            }
            .left1, .right1{
                top:40.5%;
            }
        }
    }
    header{
        .mn{
            .menu{
                .menu1{
                    right:15%;
                }
            }
        }
    }
     .products1{
        .khungAnh:before{
            padding-bottom:535%;
        }
    }
     .icon{
         .icon1{
             top:15%;
         }
     }
     .cart1{
         .khungAnh:before{
             padding-bottom:410%;
         }
         .cart2{
             .order1{
                 .cot2{
                     p{
                         padding-top:13px;
                     }
                 }
             }
         }
     }
     .aboutpage{
        .khungAnh:before{
            padding-bottom:150%;
        }
    }
     .wedo{
        .khungAnh:before{
            padding-bottom:130%;
        }
    }
      .staff{
        .khungAnh:before{
            padding-bottom:90%;
        }
    }

      .video01{
          .vd{
              .video2{
                  height:200px;
              }
          }
      }

      .gallery{
          .hang2{
              .c1{
                  margin-left:15px;
              }
          }
      }

}

/*END MIN WIDTH 375PX*/







/*MIN WIDTH 425PX*/

@media (max-width:426px){
    .gallery{
        .hang1{
            display:none;
        }
    }
    .classpic{
        .class1{
            .anhclass{
                .text{
                    font-size:0.9rem;
                    padding-bottom:10px;
                    padding-top:30px;
                }
            }
        }
    }
}

@media (min-width:426px){
    .gallery{
        .hang2{
            display:none;
        }
    }
     
}


@media (min-width:425px){
    .gallery{
        .left1{
            left:4%;
            top:41%;
        }
        .right1{
            right:4%;
            top:41%;
        }
        .hang2{
            .khungAnh{
                width:160px;
            }
            .c1{
                margin-left:30px;
            }
            .c2{
                margin-left:10px;
            }
        }
    }
    header{
        .left{
            left:5%;
        }
        .right{
            right:5%;
        }
        .mn{
            .menu{
                .menu1{
                    right:13%;
                }
            }
        }
    }
   
    .homepage{
        .sld{
            .text{
                bottom:20%;
                right:10%;
            }
        }
    }
    .products1{
        .khungAnh:before{
            padding-bottom:510%;
        }
    }
    .lb1{
        width:350px;
        .content{
            .add{
                &:after{
                    width:280px;
                }
            }
        }
    }
    .icon{
        .khungAnh:before{
            padding-bottom:80%;
        }
    }
    .prdpage{
        .parallax-pd, .parallax-contact, .parallax-about, .parallax-gallery, .parallax-cart, .parallax-baking{
            min-height:200px;
        }
        .heading{
            bottom:15px;            
        }   
        .contact{
            bottom:30%;
        }    
    }
    .cart1{
        .khungAnh:before{
            padding-bottom:410%;
        }
        .cart2{
            .pay{
                margin-top:30px;
            }
            .info{
                margin-top:40px;
            }
            h5{
                margin-bottom:20px;
            }
            .order1{
                .hang{
                    margin-bottom:25px;
                }
                .cot2{
                    p{
                        font-size:1rem;
                        padding-top:17px;
                    }
                }
            }
        }            
    }

    .aboutpage{
        .khungAnh:before{
            padding-bottom:110%;
        }
    }
     .wedo{
        .khungAnh:before{
            padding-bottom:100%;
        }
    }
      .staff{
        .khungAnh:before{
            padding-bottom:90%;
        }
    }



       .contact1{
          .text{
              p{
                  margin-left:85px;
              }
          }
      }

}

/*END MIN WIDTH 425PX*/








/*MIN WIDTH 768PX*/
@media(max-width:768px){
    .lb2{        
        .content{
            .khungAnh{
                display:none;
            }
        }
        .content1{
             .bang1{
                display:none;
            }
             .detail{
                 display:block;
             }
        }
    } 
    header{
        position:relative; 
        .khungAnh:before{
            padding-bottom:48%;
        }             
        .menu{
            .iconbar{
                display:inline-block;
            }
            .menu1{
                position:absolute;
                z-index:2;
                right:10%;
                top:100%;
                text-align:center;
                background-color:rgba(#000,.8);
                min-width:160px;
                display:none;
                .drop{
                    width:100%;                    
                }
                a{
                    display:block;
                    color:#fff;
                    margin:0;                    
                    padding-bottom:2px;
                    padding-top:2px;  
                    border-bottom:solid 1px #7e7e7e;
                    &:hover{
                        background-color:#fff;
                        border:none;
                        color:#333;
                        padding-bottom:2px;
                    } 
                    &:first-child{
                        padding-top:4px;
                    }               
                    &:last-child{
                        padding-bottom:4px;
                        border:none;
                    }     
                }
                .active{
                     background-color:#fff;
                    border:none;
                    color:#333;
                }
            } 
            .show{
                display:block;
            }                               
        }           
    }
    
    .container{            
        overflow:visible;
    }

   

    .classpic{
        .class1{
            .anhclass{
                .text{
                    font-size:0.9rem;
                    padding-bottom:20px;
                    padding-top:50px;
                }
            }
        }
    }

     
}   

@media (min-width:769px){
    header{
        .mn{
            .menu{
                .menu1{
                    .drop{
                        width:auto;
                    }
                    .active{
                         border-bottom:solid 1px #333;
                         padding-bottom:5px;
                         background-color:transparent;
                         border-top:none;
                    }
                }
            }
        }
    }
     .lb2{        
        .content{
            .khungAnh{
                display:inline-block;
            }
        }
        .content1{
             .bang1{
                display:block;
            }
             .detail{
                 display:none;
             }
        }
    } 
    header{
        .mn{
            .menu{
                i{
                    margin-left:20px;
                }
                .iconbar{
                    display:none;
                }
                .menu1{
                    display:inline-block;
                    a{
                        font-size:0.95rem;
                        margin-left:20px;
                        &:hover{
                            border-bottom:solid 1px #666;
                            padding-bottom:5px;
                        }
                    }
                }
            }
        }
    }    
     header{
        .mn{
            .menu{
                .menu1{
                    a{
                        &:hover{
                            border-bottom:solid 1px #333;
                            padding-bottom:5px;
                            background-color:transparent;
                        }
                    }
                    .active{
                         border-bottom:solid 1px #333;
                         padding-bottom:5px;
                         background-color:transparent;
                    }
                    .drop{
                        width:auto;
                    }
                }
            }
        }
    }   
     
     
     
     
     
     
     
     
       
}

@media (max-width:767px){
    .cart1{
         .cart2{
             .order{
                 display:none;
             }
             .order1{
                 display:block;
             }
         }
     } 
}

@media (min-width:768px){
    .welcome{
        .cot{
            p{
                font-size:1.2rem;
            }
        }
    }
    .cart1{
         .cart2{
             .order1{
                 display:none;
             }
             .order{
                 display:block;
             }
         }
     } 
     .container{            
        overflow:visible;
    }
    .homepage{
        .sld{
            .text{
                right:10%;
                bottom:30%;
                h1{
                    font-size:2.5rem;
                }
                p{
                    font-size:1.2rem;                    
                }
            }
        }
    }
    footer{
        .ft{
            p{
                font-size:1rem;
            }
        }
    }
    .product{
        .parallax-product{
            min-height:400px;
        }
        .pd{
            top:40px;
            .c1, .c2{
                width:250px;
                height:120px;
            }
            .cake{
                background-size:50px;
                &:before{
                    font-size:1rem;
                }
                &:hover{
                     background-size:50px;
                }
            }
            .maca{
                 background-size:60px;
                 background-position:center 35px;
                 &:hover{
                     background-size:60px;
                     background-position:center 35px;
                }
                &:before{
                    font-size:1rem;
                }
            }
            .cup{
                background-size:40px;                
                 &:hover{
                     background-size:40px;                     
                }
                &:before{
                    font-size:1rem;
                }
            }
            .ev{
                 background-size:50px;                
                 &:hover{
                     background-size:50px;                     
                }
                &:before{
                    font-size:1rem;
                }
            }
        }
    }
   
    header{
        .left, .right{
            font-size:3rem;
        }  
        .left{
            left:5%;
        }   
        .right{
            right:5%;
        }   
        .mn{            
        .menu{
            .menu1{
                right:7.1%;
                .active{
                    border-bottom:solid 1px #666;
                    padding-bottom:2px;
                    border-top:solid 1px #666;
                    padding-top:2px;
                }
                    a{    
                        padding-bottom:2px;
                        padding-top:2px;  
                        &:hover{
                            padding-bottom:2px;
                        }
                        &:first-child{
                            padding-top:4px;
                        }               
                        &:last-child{
                            padding-bottom:4px;
                        }                            
                    }                   
                    .drop{                       
                        .drw{                            
                            a{
                                padding-bottom:2px;
                                padding-top:2px;
                                &:first-child{
                                    padding-top:4px;
                                }
                                &:last-child{
                                    padding-bottom:4px;
                                }
                            }
                        }
                    }
                }
                 i{
                    font-size:1.2rem;
                } 
            }           
        }
        .logo{
            a{
                img{
                    width:100px;
                }
            }
        }
    }
    .bake{
        .pop2{
            width:120px;
            width:160px;
            bottom:-5%;
        }
        .pop1{
            top:9%;
        }
        .bake1{
            .text{
                padding-left:25px;
                width:45%;
                float:right;
            }
            .khoi{
                .video{
                    position:absolute;
                    right:45%;
                    display:block;
                    width:345px;
                    height:466px;
                    iframe{
                        width:100%;
                        height:100%;
                    }
                }                
            }
        }
    }
    .about{  
        padding-bottom:80px;
        padding-top:80px;
        .pop2{
            top:4%;
            width:100px;
        }    
        .pop1{
            right:7%;
            bottom:10%;
            width:180px;
        }  
        .ab{
            .text{
                width:50%;
            }
            .khungAnh{
                height:auto;
                display:block;
                width:35%;
                &:before{
                    padding-bottom:149.5%;
                }
            }
        }
    }
     .gallery{
        .left1, .right1{
            top:39%;
        }   
        .left1{
            left:6%;
        }     
        .right1{
            right:6%;
        }
    }

      .products1{
        .khungAnh:before{
            padding-bottom:220%;
        }
        .hang2{
            margin-top:0;
        }
        .prd1{
            .c1,.c2,.c3,.c4{
                padding-left:15px;
                padding-right:15px;
            }
            .pad{
                padding-right:7px;
            }
            .pad2{
                padding-left:11px;
                padding-right:11px;
            }
            .pad1{
                padding-left:7px;
            }
            .cake{
                height:100px;
                p{
                    font-size:1rem;
                }
            }
        }    
    }

    .icon{
        .khungAnh:before{
            padding-bottom:22%;
        }
    }

    .lb1{
        width:550px;
        .content{
            padding:15px;
            h6{
                font-size:1.4rem;
            }
            .price{
                font-size:1.2rem;
            }
            p{
                font-size:1rem;
            }
            .quantity{
                margin-top:35px;
            }
            .add{
                margin-top:20px;
                &:after{
                    width:450px;
                    top:-10px;
                }
            }
        }
    }
   .prdpage{
       .parallax-pd, .parallax-cart, .parallax-about, .parallax-gallery, .parallax-contact, .parallax-baking{
           min-height:300px;
       }
       .heading{
           bottom:30%;
           h1{
               font-size:3rem;              
           }
           p{
               font-size:1.2rem;
               max-width:300px;
           }
       }    
       .bk{
           p{
               max-width:unset;
           }
       }   
   }
     
   
   .cart1{
       .khungAnh:before{
           padding-bottom:180%;
       }
       .cart2{
           top:5%;
           h5{
               font-size:1.5rem;
           }
           h6{
               font-size:1.1rem;
           }
           text-align:center;
           .cake{
               text-align:left;
               p{
                   display:inline-block;                   
               }
           }
           .info{
               .hang2{
                   input{
                       width:585px;
                   }
               }
           }
       }
   } 
   .aboutpage{
        .khungAnh:before{
            padding-bottom:60%;
        }
        .pop1{
            right:0;
            bottom:7%;
            .khungAnh{
                width:150px;
            }
        }
        .ab{
            .text{
                width:60%;
                height:400px;
            }
            .khungAnh{
                display:block;
                width:40%;
                height:auto;
                margin-left:0;
                &:before{
                    padding-bottom:145%;
                }
            }
        }
    }
     .wedo{
        .khungAnh:before{
            padding-bottom:65%;
        }
        .ab{
            top:10%;
            .text{
                text-align:right;
                height:400px;
                width:60%;
            }
            .khungAnh{
                display:block;
                width:40%;
                height:auto;
                margin-left:0;
                &:before{
                    padding-bottom:145%;
                }
            }
        }
    }
      .staff{
        .khungAnh:before{
            padding-bottom:55%;
        }
    }

    .video01{
        .vd{
            .video2{
                height:400px;
            }
        }
    }
    .baking{
        .baking1{
            .hang1{
                .hide{
                    display:block;
                }
                h1{
                    font-size:2.2rem;
                }
                p{
                    font-size:1rem;
                }
            }
            .hang2{
                .cot1{
                    padding-right:5px;
                }
                .cot2{
                    padding-left:10px;
                    padding-right:10px;
                }
                .cot3{
                    padding-left:5px;
                }
            }
        }
    }

    .classpic{
        .class1{
            h1{
                font-size:2.2rem;
            }
            .a, .b{
                padding:unset;
            }
            .a1{
                padding-left:15px;
                padding-right:5px;
            }
            .b1{
                padding-left:10px;
                padding-right:10px;
            }
            .c1{
                padding-left:5px;
                padding-right:15px;
            }
        }
    }




     .contact1{
          .text{
              margin-left:50px;
              p{
                  margin-left:185px;
              }
          }
          .map{
              height:300px;
          }
      }



     .gallerypage{
         .a{
             padding-right:10px;
         }
         .b{
             padding-left:10px;
         }
     }



      .lb3{
         width:500px;
         font-size:1.2rem;
         p{
             span{
                 display:inline;
             }
         }
     }
}


/*END MIN WIDTH 768PX*/






/*MIN WIDTH 992PX*/

@media (max-width:991px){
    .lb1{
        .content{
            .khungAnh{
                display:none;
            }
        }
    }
}

@media (max-width:992px){
     .classpic{
        .class1{
            .anhclass{
                .text{
                    font-size:1rem;
                    padding-bottom:20px;
                    padding-top:80px;
                }
            }
        }
    }
}

@media (min-width:992px){
    header{
        .khungAnh:before{
            padding-bottom:48%;
        }
        .mn{
             top:25px;
            .menu{
                .menu1{
                    a{
                        &:hover{
                            border-bottom:solid 1px #333;
                            padding-bottom:5px;
                            background-color:transparent;
                        }
                    }
                    .active{
                         border-bottom:solid 1px #333;
                         padding-bottom:5px;
                         background-color:transparent;
                         border-top:none;
                    }
                    .drop{
                        width:auto;
                        .drw{
                            top:100%; 
                            left:50%;                           
                        }
                    }
                }
            }
        }
    }
    .homepage{
        .sld{
            .text{
                bottom:40%;
                p{
                    span{
                        display:inline;
                    }
                }
            }
        }
    }
    .about{
        padding-bottom:100px;
        padding-top:100px;
        .ab{
            .text{
                width:45%;
                padding-left:25px;
                height:456.4px;
                p{
                    font-size:1rem;
                    span{
                        display:inline;
                    }
                }  
                h5{
                    font-size:2rem;
                }              
            }
            .khungAnh{
                width:30%;
                &:before{
                    padding-bottom:163.6%;
                }
            }
        }
        .pop2{
            width:110px;
        }
        .pop1{
            width:190px;
            bottom:10%;
            right:18%;
        }
    }
    .product{
        .pd{
            top:70px;
            h5{
                font-size:2rem;
            }
            .c1{
                margin-right:7px;
                &:first-child{
                    margin-bottom:15px;
                }
            }
            .c2{
                margin-left:7px;
            }            
        }
        .parallax-product{
            min-height:470px;
        }
    }
    .bake{
        padding-bottom:100px;
        .pop1{
            width:150px;
            top:6%;
        }
        .pop2{
            width: 200px;
        }
        .bake1{
            .text{
                width:40%;
                float:right;
                padding-left:30px;
                height:460px;
                p{
                    font-size:1rem;
                    span{
                        display:inline;
                    }
                }
                h5{
                    font-size:2rem;
                }
            }
            .khoi{
                .video{
                    position:absolute;
                    right:40%;
                    width:440px;
                    height:460px;
                }
            }
        }
    }
    .gallery{
        .gallery1{
            h5{
                padding-bottom:30px;
                font-size:2rem;
            }
        }
        .left1{
            left:3%;
        }
        .right1{
            right:3%;
        }
    }
    footer{
        .parallax-footer{
            min-height:250px;
        }
        .ft{
            top:50px;
            .logo{
                img{
                    width:120px;
                }
            }
            .nut{
                margin-bottom:30px;
                margin-top:30px;
                a:nth-child(2){
                    margin-left:40px;
                    margin-right:40px;
                }
            }
        }
    }

    .prdpage{
        .parallax-pd, .parallax-cart, .parallax-about, .parallax-gallery, .parallax-contact, .parallax-baking{
            min-height:500px;
        }
        .heading{
            bottom:40%;   
            h1{
                margin-bottom:30px;
            }         
        }
        .gl{
            p{
                max-width:unset;
            }
        }
    }
    .icon{
        .khungAnh:before{
            padding-bottom:18%;
        }
    }

    .products1{
        .khungAnh:before{
            padding-bottom:135%;
        }
       .prd1{
            .c1{
                padding-left:15px;
                padding-right:0;
            }
            .c4{
                padding-left:0;
                padding-right:15px;
            }
            .c2{
                padding-left:10px;
                padding-right:5px;
            }
            .c3{
                padding-left:5px;
                padding-right:10px;
            }
            .hang{
                margin-top:15px;
            }
       }
    }
   
    .lb1{
        width:750px;
        .khungAnh{
            display:none;
        }
        .cart{
            width:600px;
            height:150px;
            font-size:1.5rem;
            padding-top:50px;
            p{
                span{
                    display:inline;
                }
            }
        }
        .content{
            padding:0;
            padding-right:40px;
            height:500px;
            .price{
                margin-bottom:10px;
            }
            .add{
                margin-bottom:20px;
                left:7%;
                transform:unset;
                width:268px;
                height:57px;
                &:after{
                    width:424px;
                }
            }
            h6{
                padding-top:20px;
                margin-bottom:20px;
            }
            p{
                .hide{
                    display:block;
                    margin-top:10px;
                }
            }
            .khungAnh{
                display:block;
                width:324px;
                float:left;
                height:500px;
                margin-right:30px;
                &:before{
                    padding-bottom:170%;
                }
            }
        }
    }
    .lightbox-target1:target img{
        height:100%;
    }
    a.lightbox-close1{
        font-size:1.5rem;
    }
    .macaroon{
        .content{
            .khungAnh{
                height:500px;
            }
        }
    }
    .cart1{
        .khungAnh:before{
            padding-bottom:145%;
        }
        .cart2{
             h6{
               font-size:1.2rem;
           }
        }
    }
    .cake1{
       .content{
           height:550px;
           .khungAnh{
               height:550px;
           }
       }
   }

    .aboutpage{
        .khungAnh:before{
            padding-bottom:50%;
        }
        .pop1{
            right:5%;
            bottom:5%;
            .khungAnh{
                width:150px;
            }
        }
        .ab{
            .text{
                width:50%;
                height:400px;
                margin-left:10%;
            }
            .khungAnh{
                display:block;
                width:30%;
                height:auto;
                margin-left:0;
                &:before{
                    padding-bottom:143%;
                }
            }
        }
    }
     .wedo{
        .khungAnh:before{
            padding-bottom:50%;
        }
        .ab{
            top:10%;
            .text{
                text-align:right;
                height:400px;
                width:50%;
            }
            .khungAnh{
                display:block;
                width:30%;
                margin-left:10%;
                height:auto;
                &:before{
                    padding-bottom:143%;
                }
            }
        }
    }
      .staff{
        .khungAnh:before{
            padding-bottom:45%;
        }
    }
      .video01{
          .vd{
              .video2{
                  height:500px;
              }
          }
      }
      .lb2{
          width:800px;
          .content{
              .khungAnh{
                  height:523px;
                  &:before{
                      padding-bottom:137%;
                  }
              }
              .content1{
                  h6{
                      &:after{
                          width:200px;
                          right:-12.7%;
                      }
                  }
                  .giua{
                      font-size:0.9rem;
                  }
                  button{
                      margin-left:55px;
                  }
              }
          }
          .book1{
              width:500px;
              font-size:1.5rem;
              p{
                  span{
                      display:inline;
                  }
              }
          }
      }



      .contact1{
          .text{
              margin-left:0;
              float:left;
              width:60%;
              height:400px;
              h5{
                  font-size:1.7rem;
              }
              h6{
                  font-size:1.4rem;
              }
              .dif{
                  font-size:1rem;
              }
              p{
                  font-size:1rem;
              }

          }
          .map{
              width:40%;
              display:inline-block;
              height:400px;
              margin-top:0;
          }
      }

      .gallerypage{
         .a{
             padding-right:unset;
         }
         .b{
             padding-left:unset;
         }
         .a1{
             padding-right:5px;
         }
         .b1{
             padding-left:12px;
             padding-right:8px;
         }
         .d1{
             padding-left:8px;
             padding-right:12px;
         }
         .c1{
             padding-left:5px;
         }
         .gl2{
             .khungAnh:before{
                 padding-bottom:90%;
             }
         }
         .slick-dots{
             margin-top:0;
         }
     }
}

/*END MIN WIDTH 992PX*/






/*MIN WIDTH 1024PX*/

@media (min-width:1024px) {
    footer{
        .parallax-footer{
            min-height: 300px;
        }
        .ft{            
            top:60px;           
        }
    }
    
    .product{
        .parallax-product{
            min-height:550px;
        }
        .pd{           
            top:55px;
            .c1, .c2{
                width: 350px;
                height:170px;
            }      
            .cake{
                background-size:70px;
                 background-position:center 30px;
                &:before{
                    font-size:1.2rem;
                    bottom:12%;
                }
                &:hover{
                    background-size:70px;
                    background-position:center 30px;
                }
            }
            .maca{
                background-size:80px;
                background-position:center 55px;
                &:before{
                    font-size:1.2rem;
                    bottom:12%;
                }
                &:hover{
                    background-size:80px;
                     background-position:center 55px;
                }
            }
            .cup{
                background-size:55px;
                background-position:center 30px;
                &:before{
                    font-size:1.2rem;
                    bottom:12%;
                }
                &:hover{
                    background-size:55px;
                    background-position:center 30px;
                }
            }
            .ev{
                background-size:70px;
                background-position:center 30px;
                &:before{
                    font-size:1.2rem;
                    bottom:12%;
                }
                &:hover{
                    background-size:70px;
                    background-position:center 30px;
                }
            }
        }
    }
    .gallery{
        .left1{
            left:4.5%;
            top:41%;
        }
        .right1{
            right:4.5%;
            top:41%;
        }
    }
    .bake{
        .pop2{
            width:190px;
        }
    }

    .icon{
        .khungAnh:before{
            padding-bottom:28%;
        }
        .icon1{
            button{
                width:180px;
                height:180px;
            }
             .cake{
                background-size:60px;
                background-position:center 30px;
                &:before{
                    bottom:20%;
                    font-size:1.2rem;
                }
                &:hover{
                    background-size:60px;
                    background-position:center 30px;
                }
            }
             .maca{
                background-size:70px;
                background-position:center 55px;
                &:before{
                    bottom:20%;
                    font-size:1.2rem;
                }
                &:hover{
                    background-size:70px;
                    background-position:center 55px;
                }
            }
              .cup{
                background-size:50px;
                background-position:center 35px;
                &:before{
                    bottom:20%;
                    font-size:1.2rem;
                }
                &:hover{
                    background-size:50px;
                    background-position:center 35px;
                }
            }
               .ev{
                background-size:60px;
                background-position:center 35px;
                &:before{
                    bottom:20%;
                    font-size:1.2rem;
                }
                &:hover{
                    background-size:60px;
                    background-position:center 35px;
                }
            }
        }
       
    }    

    .products1{
        .khungAnh:before{
            padding-bottom:130%;
        }
        .prd1{
            .cake{
                .btitle{
                    display:block;
                }
            }
        }
    }

    .cart1{
        .khungAnh:before{
            padding-bottom:135%;
        }
    }

    .aboutpage{
        .khungAnh:before{
            padding-bottom:65%;
        }
        .pop1{
            right:5%;
            bottom:5%;
            .khungAnh{
                width:150px;
            }
        }
        .ab{
            .text{
                width:50%;
                height:530px;
                margin-left:5%;
                p{
                    span{
                        display:block;
                    }
                }
                h5{
                    font-size:2rem;
                }
            }
            .khungAnh{
                display:block;
                width:40%;
                height:auto;
                margin-left:0;
                &:before{
                    padding-bottom:142%;
                }
            }
        }
    }
     .wedo{
        .khungAnh:before{
            padding-bottom:65%;
        }
        .ab{
            top:10%;
            .text{
                text-align:right;
                height:530px;
                width:50%;
                 h5{
                    font-size:2rem;
                }
            }
            .khungAnh{
                display:block;
                width:40%;
                margin-left:5%;
                height:auto;
                &:before{
                    padding-bottom:142%;
                }
            }
        }
    }
      .staff{
        .khungAnh:before{
            padding-bottom:45%;
        }
        .staff1{
              h5{
                    font-size:2rem;
                }
        }
    }




      .contact1{
          padding-bottom:100px;
          padding-top:100px;
          .text{
              width:50%;
              margin-left:7.5%;
              p{
                  margin-left:125px;
              }
          }
          .map{
              width:35%;
          }
      }

      .prdpage{
          .heading{
              h1{
                  margin-bottom:30px;
              }
          }              
          .contact{
              p{
                  max-width:unset;
                  span{
                      display:inline;
                  }
              }
          }
      }
      .cart1{
          .cart2{
              h5{
                  margin-bottom:40px;
              }
              .pay{
                  margin-top:100px;
              }
          }
      }
}

/*END MIN WIDTH 1024PX*/











/*MIN WIDTH 1200PX*/

@media (min-width:1200px){
  
    header{
        .khungAnh:before{
            padding-bottom:45%;
        }   
        .left{
            left:3%;
            top:40%;
        }  
        .right{
            right:3%;
            top:40%;
        }  
        .mn{           
            .logo{
                a{
                    img{
                        width:120px;
                    }
                }
            }
        }    
    }   
    .homepage{
        .sld{
            .text{
                bottom:45%;
                right:7%;
                h1{
                    font-size:3.5rem;
                }
                p{
                    font-size:1.5rem;
                    span{
                        display:inline;
                    }
                }
            }
        }
    } 
    .about{
        .pop2{
            width:150px;
            top:5%;
        }
        .pop1{
            width:250px;
            right:18%;
            bottom:7%;
        }
        .ab{
            .text{
                height:540px;
                width:45%;
                h5{
                    font-size:2.5rem;
                    padding-bottom:30px;
                }
                p{
                    font-size:1rem;
                }
            }
            .khungAnh{
                width:35%;
                &:before{
                    padding-bottom:138.5%;
                }
            }
        }
    }
    .product{
        .parallax-product{
            min-height:600px;
        }
        .pd{
            top:65px;
            h5{
                font-size:2.5rem;
            }
            .c1, .c2{
                width:370px;
                height:179px;
                &:first-child{
                    margin-bottom:15px;
                }
            }
            .c1{
                margin-right:7px;
            }
            .c2{
                margin-left:7px;
            }
            .maca{
                background-position:center 62px;
                &:hover{
                     background-position:center 62px;
                }
            }
        }
    }
    .bake{
        padding-top:100px;
        .pop1{
            width:200px;
            top:7%;
        }
        .pop2{
            width:250px;

        }
        .bake1{
            .text{
                height:540px;
                h5{
                    font-size:2.5rem;
                }
                p{
                    font-size:1rem;
                }
            }
            .khoi{
                .video{
                    width:520px;
                    height:540px;
                }
            }
        }        
    }
    .gallery{
        padding-bottom:70px;
        .left1{
            left:4%;
            top:40%;
        }
        .right1{
            right:4%;
            top:40%;
        }
        .gallery1{
            h5{
                font-size:2.5rem;
            }
        }
    }
    footer{
        .ft{
            top:60px;
            .logo{
                img{
                    width:140px;
                }
            }
            .nut{
                margin-top:35px;
                margin-bottom:40px;
                a{
                    img{
                        width:40px;
                    }
                }
            }
        }        
    }
    .icon{
        .khungAnh:before{
            padding-bottom:22%;
        }
    }
    .products1{
        .khungAnh:before{
            padding-bottom:125%;
        }
        .prd1{
            .cake{
                height:90px;
                p{
                    span{
                        display:inline;
                    }
                }
                .price{
                    margin-top:10px;
                }
                i{
                    margin-top:20px;
                }
            }
        }
    }
    .prdpage{
        parrallax-pd,  .parallax-cart, .parallax-about, .parallax-gallery, .parallax-contact, .parallax-baking{
            min-height:600px;
        }       
        .heading{
            h1{
                font-size:4rem;
            }
        } 
    }
    .cart1{
        .khungAnh:before{
            padding-bottom:115%;
        }
    }

    .aboutpage{
        .khungAnh:before{
            padding-bottom:60%;
        }
        .pop1{
            right:7%;
            bottom:5%;
            .khungAnh{
                width:180px;
            }
        }
        .ab{
            .text{
                width:50%;
                height:550px;
                margin-left:10%;
                padding:30px 35px;
                p{
                    span{
                        display:block;
                    }
                }
                h5{
                    font-size:2.5rem;
                }
            }
            .khungAnh{
                display:block;
                width:30%;
                height:auto;
                margin-left:0;
                &:before{
                    padding-bottom:165.5%;
                }
            }
        }
    }
     .wedo{
        .khungAnh:before{
            padding-bottom:60%;
        }
        .ab{
            top:10%;
            .text{
                text-align:right;
                height:550px;
                width:50%;
                padding:30px 35px;
                 h5{
                    font-size:2.5rem;
                }
            }
            .khungAnh{
                display:block;
                width:30%;
                margin-left:10%;
                height:auto;
                &:before{
                    padding-bottom:165.5%;
                }
            }
        }
    }
      .staff{
        .khungAnh:before{
            padding-bottom:45%;
        }
        .staff1{
              h5{
                    font-size:2.5rem;
                }
        }
    }

      .lb2{
           width:1000px;  
           height: 600px;
        .content{
            height:600px;
            .khungAnh{
                display:inline-block;
                float:left;
                width:382px;
                height:600px;
                margin-right:30px;
                &:before{
                    padding-bottom:183.6%;
                }
            }        
            .content1{
                padding-top:30px;
                padding-right:30px;
                padding-bottom:30px;
                 h5{
                    font-size:2.5rem;  
                    margin-bottom:30px;          
                }
                 .bang1{
                     margin-bottom:30px;
                     .tr{
                         .td{
                             &:first-child{
                                 font-weight:bold;
                             }
                             &:last-child{
                                 font-style:italic;
                                 padding-left:10px;
                             }
                         }
                     }
                 }
                 h6{
                     font-size:1.5rem;
                     font-weight:bold;
                     text-transform:uppercase;
                     position:relative;
                     margin-bottom:15px;
                     &:after{
                         content:"";
                         position:absolute;
                         border-bottom:solid 1px #333;
                         width:300px;
                         top:50%;
                         transform:translateX(-50%);
                         right:-15%;
                     }
                 }
                 .bang2{
                     margin-bottom:30px;
                     font-size:1rem;
                     .tr{
                         height:40px;
                         .td{
                             &:first-child{
                                 font-weight:bold;
                                 padding-right:10px;
                                 width:unset;
                             }  
                             &:last-child{                             
                                 width:250px;
                             }     
                             input{
                                 box-sizing:border-box;
                                 width:100%;
                                 border: solid 1px #747474;
                                 padding-left:5px;
                             }                  
                         }
                     }
                 }
                 .giua{
                     text-align:center;
                 }
                 button{
                    text-align:center;
                    width:250px;
                    height:50px;
                    margin-left:150px;
                    background-color:#747474;
                    color:#fff;                
                    &:hover{
                        background-color:rgba(#000,.7);
                    }
                 }
            }               
        }
    
        .book1{
            background-color:#f1f1f1;
            width:500px;
            padding:30px;
            text-align:center;
            font-size:1.5rem;
            position:absolute;
            z-index:2;
            top:50%;
            left:50%;
            transform:translate(-50%,-50%);
            visibility:hidden;
        }    
    }
    
      .video01{
          .vd{
              .video2{
                  width:1000px;
                  height:500px;
              }
          }
      }
      .baking{
          padding-top:80px;
          .baking1{
              .hang2{
                  .khungAnh:before{
                      padding-bottom:120%;
                  }
              }
          }
      }


      .contact1{
          .text{
              height:500px;
              padding-top:45px;
              width:45%;
              margin-left:5%;
              h5{
                  font-size:2rem;
                  margin-bottom:40px;
              }
              h6{
                  font-size:1.5rem;
                  margin-bottom:20px;
              }
              p{
                  margin-left:30%;
              }
          }
          .map{
              height:500px;
              width:45%;
          }
      }



}

/*END MIN WIDTH 1200PX*/



/*MIN WIDTH 1366PX*/

@media (min-width:1366px){
    
    .homepage{
        .sld{
            .text{
                bottom:45%;
                h1{
                    font-size:3.5rem;
                }
                p{
                    font-size:1.5rem;
                    span{
                        display:inline;
                    }
                }
            }
        }
    }

    header{
        .left, .right{
            font-size:4rem;
        }
        .mn{
            .logo{
                a{
                    img{
                        width:120px;
                    }
                }
            }            
        }
    }
    .about{
        .pop2{
            width:150px;
            top:5%;
        }
        .pop1{
            width:250px;
            right:18%;
            bottom:7%;
        }
        .ab{
            .text{
                height:540px;
                width:45%;
                h5{
                    font-size:2.5rem;
                    padding-bottom:30px;
                }
                p{
                    font-size:1rem;
                }
            }
            .khungAnh{
                width:35%;
                &:before{
                    padding-bottom:138.5%;
                }
            }
        }
    }
    .product{
        .parallax-product{
            min-height:600px;
        }
        .pd{
            top:65px;            
            h5{
                font-size:2.5rem;
            }
            .c1, .c2{
                width:370px;
                height:179px;
                &:first-child{
                    margin-bottom:15px;
                }
            }
            .c1{
                margin-right:7px;
            }
            .c2{
                margin-left:7px;
            }
        }
    }
    .bake{
        padding-top:100px;
        .pop1{
            width:200px;
            top:10%;
        }
        .pop2{
            width:250px;

        }
        .bake1{
            .text{
                height:540px;
                h5{
                    font-size:2.5rem;
                }
                p{
                    font-size:1rem;
                }
            }
            .khoi{
                .video{
                    width:520px;
                    height:540px;
                }
            }
        }        
    }
    .gallery{
        padding-bottom:70px;
        .left1{
            left:9.5%;
            top:41%;
        }
        .right1{
            right:9.5%;
            top:41%;
        }
        .gallery1{
            h5{
                font-size:2.5rem;
            }
        }
    }
    .products1{
        .khungAnh:before{
            padding-bottom:110%;
        }
    }

    .prdpage{
        .heading{
            h1{
                margin-bottom:25px;               
            }            
        }        
        .bk{            
            p{
                max-width:unset;
            }
        }
    }

    .cart1{
        .khungAnh:before{
            padding-bottom:100%;
        }
    }

    .aboutpage{
        .khungAnh:before{
            padding-bottom:50%;
        }
        .pop1{
            right:10%;
            bottom:5%;
            .khungAnh{
                width:180px;
            }
        }
        .ab{
            .text{
                width:50%;
                height:550px;
                margin-left:10%;
                p{
                    span{
                        display:block;
                    }
                }
                h5{
                    font-size:2.5rem;
                }
            }
            .khungAnh{
                display:block;
                width:30%;
                height:auto;
                margin-left:0;
                &:before{
                    padding-bottom:165.5%;
                }
            }
        }
    }
     .wedo{
        .khungAnh:before{
            padding-bottom:50%;
        }
        .ab{
            top:10%;
            .text{
                text-align:right;
                height:550px;
                width:50%;
                 h5{
                    font-size:2.5rem;
                }
            }
            .khungAnh{
                display:block;
                width:30%;
                margin-left:10%;
                height:auto;
                &:before{
                    padding-bottom:165.5%;
                }
            }
        }
    }
      .staff{
        .khungAnh:before{
            padding-bottom:40%;
        }
        .staff1{
              h5{
                    font-size:2.5rem;
                }
        }
    }






}

/*END MIN WIDTH 1366PX*/


