body{
	font-family: "Poppins";
	cursor: default;
	line-height: 1.6;	
}

input, button{
	cursor: pointer;

	&:focus{
		outline: none;
	}
}

button{
	border: none;
}

a{
	color: #000;
    outline:none;
    &:focus{
        outline:none;
    }
	&:hover{
		text-decoration: none;
		cursor: pointer;
		color: #000;
	}
}

img:focus{
    outline:none;
}

.container-fluid{
	padding: 0;
}

/* UP TO TOP BUTTON */

#myBtn{
	display: none;
	position: fixed;
	bottom: 5%;
	right: 1.5%;
	z-index: 99;
	font-size: 1.2rem;
	background-color: rgba(#000,.3);
	color: white;
	cursor: pointer;
	text-align: center;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	&:hover{
		background-color: rgba(#000,.5);
	}	
}

/* END UP TO TOP BUTTON */



/* WELCOME PAGE */

.welcome {	
	position: relative;

	.khungAnh:before{
		padding-bottom:0;
	}

	.khungAnh{		
		height: 100vh;
		width: 100vw;
        .khungAnhCrop{
            img{
                height:100%;
            }
        }
	}

	.cot {
		position: absolute;
		z-index: 2;
		top: 30%;
		right: 15%;
		color: #fff;
		max-width: 450px;

		button{
			float: right;
			width: 171px;
			height: 63px;
			border: none;
			background-color: #767676;
			color: #fff;
			font-size: 1.5rem;
			box-shadow: 0px 0px 15px rgba(0,0,0,.2);
			cursor: pointer;

			&:hover{
				background-color: rgba(0,0,0,.5);
			}
		}

		p{
			font-style: italic;	
			text-align: right;
			font-size: 1.2rem;
			margin: 0;
			padding-bottom: 37px;
		}		
	}
}

/* END WELCOME PAGE */















/* HOME PAGE */


// HEADER 

header{
	position: relative;

	.khungAnh:before{
		padding-bottom:48%;
	}

	.mn{
		position: absolute;
		top: 40px;
		z-index: 2;		

		.logo{
			a{
				img{
                    width:140px;  
                    opacity:0.6;                  
				}			
			}
		}	

		.menu{
			text-align: right;
			margin-top: 20px;
            margin-bottom:30px;
            .menu1{
                a{	
				font-weight: 300;
				font-size: 0.95rem;
				margin-left: 28px;
                     &:hover{
				        border-bottom: solid 1px #666;
				        padding-bottom: 5px;
			        }
                     &:nth-child(3):hover{
                         border:none;
                     }

			        /*&:last-child{
				        border: none;
			        }*/         
                }
                .active{
                    border-bottom: solid 1px #666;
				    padding-bottom: 5px;
                }
                
                .drop{
                    display:inline-block;
                    position:relative;
                    &:hover a{
                        border:none;
                    }
                    .drw{
                        position:absolute;
                        background-color:rgba(#000,.6);
                        text-align:center;
                        top:100%;
                        left:50%;
                        transform:translateX(-50%);
                        min-width:150px;
                        display:none;
                        a{
                            display:block;
                            margin:0;
                            padding-top:5px;
                            padding-bottom:5px;
                            color:#fff;
                            border-bottom:solid 1px #7e7e7e;
                            &:first-child{
                                padding-top:10px;
                            }
                            &:last-child{
                                padding-bottom:10px;
                                border:none;
                            }
                            &:hover{
                                 background-color:#fff;
                                border:none;
                                color:#333;
                            }                            
                        }
                        .active{
                            background-color:#fff;
                            border-bottom:solid 1px #7e7e7e;
                            color:#333;
                        }
                    }
                    &:hover .drw{
                        display:block;
                    }
                } 
            }            
								
			i{
				font-size: 1.2rem;
                margin-left: 28px;
                &.active1, &:hover{
                    color:rgba(0,0,0,.5);
                }
			}           	
		}
	}

	.left, .right{
		position: absolute;
		cursor:pointer;
		top: 50%;
		color: #a5a3a4;
		font-size: 3rem;
		z-index: 1;
		&:before{
			font-family: "FontAwesome";			
		}
        &:hover{
            color:#333;
        }
	}
	.left{		
		left: 7%;
		&:before{
			content: "\f104";		
		}					
	}
	.right{		
		right: 7%;
		&:before{
			content: "\f105";
		}			
	}
}

.homepage{   
    .sld{
        position:relative;
        .text{
            position:absolute;
            z-index:2;
            bottom:40%;
            right:15%;
            text-align:center;            
            h1{
                font-size:4rem;
            }
            p{
                font-size:1.2rem;
            }            
        }
    }     
}

// END HEADER 


// ABOUT 

.about{			
	position: relative;
    background:url(../../images/background/background.jpg) no-repeat;
    background-size:100% 100%;
    padding-top:126px;
    padding-bottom:100px;
	.ab{			
		.khungAnh{
			width: 357px;
			height: 568px;
			float: left;
		}

		.text{
			display: inline-block;
			width: 570px;
			height: 568px;
			float: left;	
			background-color: rgba(#ccc,.2);
			padding-left: 48px;
			padding-top: 54px;
			padding-right: 55px;
            button{
                width:120px;
                height:40px;
                color:#fff;
                margin-top:20px;
                background-color:rgba(#333,.5);
                 &:hover{
                    background-color:#333;
                }
            }
		}

		h5{
			padding-bottom: 44px;
			font-size: 2rem;
		}
	}	

	.pop1, .pop2{
		position: absolute;
		z-index: 1;
	}

	.pop1{
		bottom: 7%;
		right: 10%; 
         width:279px;       
        .khungAnh{           
			&:before{
				padding-bottom: 50.89%;
			}
		}
	}

	.pop2{
		right: 0;
		top: 5%;  
        width:188px;
        .khungAnh{            
			&:before{
				padding-bottom:114.36%;
			}
		}  
	}
}

// END ABOUT 


// PRODUCTS 

.product{
	color: #fff;
	text-align: center;	
	position:relative;
    .parallax-product {
        min-height: 600px;
        background: transparent;
    }
	.pd{
        position:absolute;
        z-index:2;
        top:70px;       
		.col{
			padding: 0;
		}

		h5{		
			font-size: 2rem;
			text-transform: uppercase;
			padding-bottom: 50px;
		}

		.c1, .c2{
			color: #fff;
			width: 370px;
			height: 179px;
		}

		.c1{
			float: right;
			margin-right: 11px;
			&:first-child{
				margin-bottom: 12px;
			}	
		}

		.c2{
			float: left;
			&:first-child{
				margin-bottom: 12px;
			}			
		}

		.cake{
			background: url(../../images/icon/icon1.png) no-repeat rgba(#fff,.1);
			background-position: center 36px;
			position: relative;
			&:before{
				content: "Cake";
				position: absolute;
				bottom: 15%;				
			}
			&:hover{
				background: url(../../images/icon/icon1.png) no-repeat rgba(#000,.5);
				background-position: center 36px;
			}
		}

		.maca{
			background: url(../../images/icon/icon2.png) no-repeat rgba(#fff,.1);
			background-position: center center;
			position: relative;
			&:before{
				content: "Macaroon";
				position: absolute;
				bottom: 15%;				
			}
			&:hover{
				background: url(../../images/icon/icon2.png) no-repeat rgba(#000,.5);
				background-position: center center;
			}
		}

		.cup{
			background: url(../../images/icon/icon3.png) no-repeat rgba(#fff,.1);
			background-position: center 36px;
			position: relative;
			&:before{
				content: "Cupcake";
				position: absolute;
				bottom: 15%;				
			}
			&:hover{
				background: url(../../images/icon/icon3.png) no-repeat rgba(#000,.5);
				background-position: center 36px;
			}
		}

		.ev{
			background: url(../../images/icon/icon4.png) no-repeat rgba(#fff,.1);
			background-position: center 28px;
			position: relative;
			&:before{
				content: "Events";
				position: absolute;
				bottom: 15%;				
			}
			&:hover{
				background: url(../../images/icon/icon4.png) no-repeat rgba(#000,.5);
				background-position: center 28px;
			}
		}
	}	
}

// END PRODUCTS 


// BAKING CLASSES

.bake{
	background:url(../../images/background/background.jpg) no-repeat;
    background-size:100% 100%;
    position:relative;
    padding-top:70px;
    padding-bottom:50px;

	.pop1, .pop2{
		position: absolute;
		z-index: 2;
	}

	.pop1{
		right: 0;
		top: 10%;
		width: 199px;
		.khungAnh{
			&:before{
				padding-bottom: 42.71%;
			}
		}
	}

	.pop2{
		left: 0;
		bottom: -30%;
		width: 310px;
		.khungAnh{
			&:before{
				padding-bottom: 98.72%;
			}
		}
	}

	.bake1{
		.khoi{
			float: right;
		}

		.video{			
			height: 568px;
			float: left;
			display: inline-block;
		}

		.text{
			width: 423px;
			height: 568px;
			background-color: rgba(#ccc,.2);
			padding-left:55px;
			padding-top: 54px;
			padding-right: 48px;
			margin-left: 500px;			
			h5{		
				font-size: 2rem;
				text-transform: uppercase;
				padding-bottom: 40px;
			}	
             button{
                width:120px;
                height:40px;
                color:#fff;
                margin-top:20px;
                background-color:rgba(#333,.5);
                &:hover{
                    background-color:#333;
                }
            }	
		}		
	}
}

// END BAKING CLASSES 


// GALLERY

.gallery{
	background:url(../../images/background/background.jpg) no-repeat;
    background-size:100% 100%;
    padding-top:100px;
    padding-bottom:100px;
    position:relative;
	.gallery1{
		text-align: center;		
		h5{
			font-size: 2rem;
			text-transform: uppercase;
			padding-bottom: 100px;
		}

		.khungAnh:before{
			padding-bottom:128.42%;
		}
		.khungAnh{
			transform:none;		
		}
	}

	.left1, .right1{
		position: absolute;
		cursor:pointer;
		top: 55%;
		color: #a5a3a4;
		font-size: 3rem;
		z-index: 2;
		&:before{
			font-family: "FontAwesome";			
		}
        &:hover{
            color:#333;
        }
	}
	.left1{		
		left: 5%;
		&:before{
			content: "\f104";		
		}					
	}
	.right1{		
		right: 5%;
		&:before{
			content: "\f105";
		}			
	}	
}

// END GALLERY


// FOOTER

footer{   	
    position:relative;
    .parallax-footer {
        min-height: 280px;
        background: transparent;
    }
	.ft{	
        position:absolute;
        z-index:2;
        top:50px;
		text-align: center;		
		color: #fff;
        .logo{
            img{
                width:140px;
            }
        }
        .nut{
            margin-top: 25px;
			margin-bottom: 20px;
            a{			    
			    color: #fff;	                
			    &:nth-child(2){
				    margin-left: 45px;
				    margin-right: 45px;
			    }		
		    }		
        }		
	}
}

// END FOOTER

/* END HOME PAGE */

















/* PRODUCTS PAGE */

// HEADER

.prdpage{
    position:relative;	
    .parallax-pd {
        min-height: 600px;
        background: transparent;
    }
	.khungAnh:before{
		padding-bottom:46.69%;
	}
    .heading{
        position:absolute;
        z-index:1;
        bottom:40%;
        text-align:right;
        color:#333;
        h1{
            font-size:4rem;
            position:relative;
            margin-bottom:40px;
            display:inline-block;
            &:after{
                position:absolute;
                content:"";
                border-bottom:solid 1px #333;
                width:100%;
                bottom:-10px;
                right:0;
            }
        }
        p{
            font-size:1.2rem;
        }
    }	    
}

// END HEADER


// ICON
.icon{
    position:relative;
	.icon1{		
		text-align: center;  
        position:absolute;
        z-index:2;  
        top:5%;    	   
		.cake{
			background: url(../../images/icon/icon1.png) no-repeat;
			position: relative;
			background-position: center 36px;
			&:before{
				content: "Cake";
				position: absolute;
				bottom: 20%;
				left:50%;
                transform:translateX(-50%);
			}	
			&:hover{
				border-radius: 50%;	
				background: url(../../images/icon/ic1.png) no-repeat rgba(#fff,.9);
				background-position: center 36px;
				color: #8d8882;
			}	                     
		}

		.maca{
			background: url(../../images/icon/icon2.png) no-repeat;
			position: relative;
			background-position: center 66px;
			&:before{
				content: "Macaroon";
				position: absolute;
				bottom: 20%;
				left:50%;
                transform:translateX(-50%);
			}	
			&:hover{
				border-radius: 50%;	
				background: url(../../images/icon/ic2.png) no-repeat rgba(#fff,.9);
				background-position: center 66px;
				color: #8d8882;
			}		
		}

		.cup{
			background: url(../../images/icon/icon3.png) no-repeat;
			position: relative;
			background-position: center 36px;
			&:before{
				content: "Cupcake";
				position: absolute;
				bottom: 20%;
				left:50%;
                transform:translateX(-50%);
			}	
			&:hover{
				border-radius: 50%;	
				background: url(../../images/icon/ic3.png) no-repeat rgba(#fff,.9);
				background-position: center 36px;
				color: #8d8882;
			}		
		}

		.ev{
			background: url(../../images/icon/icon4.png) no-repeat;
			position: relative;
			background-position: center 30px;
			&:before{
				content: "Events";
				position: absolute;
				bottom: 20%;
				left:50%;
                transform:translateX(-50%);
			}	
			&:hover{
				border-radius: 50%;	
				background: url(../../images/icon/ic4.png) no-repeat rgba(#fff,.9);
				background-position: center 30px;
				color: #8d8882;
			}		
		}
        .active, .active1, .active2, .active3{
            color: #8d8882;
            border-radius: 50%;	
        }
        .active{			
			background: url(../../images/icon/ic1.png) no-repeat rgba(#fff,.9);
			background-position: center 36px;			
		}

        .active1{			
			background: url(../../images/icon/ic2.png) no-repeat rgba(#fff,.9);
			background-position: center 66px;			
		}

        .active2{			
			background: url(../../images/icon/ic3.png) no-repeat rgba(#fff,.9);
				background-position: center 36px;			
		}

        .active3{			
			background: url(../../images/icon/ic4.png) no-repeat rgba(#fff,.9);
				background-position: center 30px;
		}

		button{			
			background-color: transparent;
			color: #fff;
			font-size: 1.3rem;
			width: 199px;
			height: 199px;
			img{
				margin-bottom: 25px;
			}
		}
	}
}

// END ICON


// PRODUCTS

.products1{	
    position:relative;
	.hang2{
		margin-top: 49px;
	}

	.prd1{		
        position:absolute;
        z-index:2;
        top:2%;
		padding: 0;
		.khungAnh:before{
			padding-bottom:122.81%;
		}	
        .slick-list{
            a{
			    width: 263px;	
			    color: #fff;
			    text-align: left;
			    padding:0;
		    }
        }		

        .cake{
            padding-top:15px;
            background-color: rgba(#6e675e,.7);
            height:75px;          
            p{
				margin: 0;
				margin-left: 7px;		
				margin-bottom: 7px;
                &:first-child{
                    font-weight:bold;
                }
			}
            .price{                
				display: inline-block;
				float: left;	
				font-style: italic;			
            }

			i{
				float: right;
				font-size: 0.6rem;
				margin-top: 10px;
				margin-right: 7px;
			}            
        }

		.c1, .c2, .c3, .c4{			
			width: 285px;
		}		

		.slick-dots{
			position: unset;	
			z-index: 2;
			margin-top: 60px;

			li{		
                position: relative;
                &:nth-child(2){
                    margin-left:20px;
                    margin-right:20px;
                }						
				a{              
                    color:#fff; 
                    font-size:0.75rem; 
                    position:absolute;
                    z-index:3;
                    top:4px;
                    left:50%;
                    transform:translateX(-50%);  
				}
                &:after{
				content: "";
				position: absolute;
				top: 3px;
				right: 0;
				width: 20px;	
				height: 20px;
				border-radius: 50%;
				background-color: rgba(#6e675e,.6);					
				}	
                &:hover{
                    &:after{
                        background-color:#6e675e;
                    }                    
                }                
			}
            .slick-active{
                &:after{
                    content: "";
				    position: absolute;
				    top: 3px;
				    right: 0;
				    width: 20px;	
				    height: 20px;
				    border-radius: 50%;
                    background-color:#6e675e;
                }    
            }
		}
	}	
}

// END PRODUCTS

/*LIGHTBOX*/

.lb1{
    .cart{
        background-color:#f1f1f1;
        color:#333;        
        font-size:1.5rem;
        position:absolute;
        z-index:3;
        top:30%;
        left:15%;
        width:600px;
        height:150px;
        padding-top:50px;
        text-align:center;
        border:solid 2px rgba(#000,.2);
        box-shadow:0px 0px 10px rgba(#000,.2);
        visibility:hidden;     
    }      
    .content{
        color:#747474; 
        h6{
         font-size:1.3rem;
         font-weight:bold;
         margin-bottom:16px;
        }
        .quantity{
            font-weight:bold;
            #number{
                font-weight:normal;
                margin-left:10px;
            }
            button{
                background-color:transparent;
                margin-left:10px;
            }
        }
        .price{
        font-size:1.3rem;
        font-style:italic;
        margin-bottom:40px;
        }
        .add{
            background-color:#747474;
            width: 268px;
            height:57px;
            color:#fff;
            margin-left:68px;
            margin-top:20px; 
            position:relative; 
            &:after{
                content:"";
                border-top:solid 1px #bebebe;
                position:absolute;
                width:446px;
                right:-82px;
                top:-15px;
            }          
        }
    }    
}


/*END LIGHTBOX*/

/* END PRODUCTS PAGE */




















/* BAKING PAGE */

.prdpage{    
    .parallax-baking {
        min-height: 600px;
        background: transparent;
    }
}

.baking{
	background:url(../../images/background/background.jpg) no-repeat;
    background-size:100% 100%;
	padding-top:100px;
	.baking1{
        text-align:center;
        .hang1{
             h1{             
                margin-bottom:28px;
            }
            p{            
                margin-bottom:93px;
            }
        }
       
		.hang2{
			.khungAnh:before{
				padding-bottom:116.12%;
			}
            .cot{
                 background-color:rgba(0,0,0,.1);                 
                 .anh{
                     position:relative;
                     .t1{
                        position:absolute;
                        z-index:2;
                        bottom:0;
                        padding-bottom:30px;
                        padding-left:10px;
                        padding-right:10px;
                        padding-top:50px;
                        color:#fff;                       
                        background-image:linear-gradient(to top,rgba(#000,.8),transparent);                         
                        margin-bottom:0;  
                        display:none;                      
                    }                     
                 }
                 &:hover .t1{
                     display:block;
                 }                
                .text{
                    h6{
                        font-weight:bold;
                        padding-top: 23px;
                        margin-bottom:10px;
                        font-size:1.2rem;
                    }
                    p{
                        font-size:1.2rem;
                        margin-bottom:15px;
                        .do{
                            margin-left:68px;
                            position:relative;
                            &:after{
                                position:absolute;
                                content:"";
                                border-left:solid 2px #333;
                                height:80%;
                                top:3px;
                                left:-40px;
                            }
                        }
                    }
                    button{
                        background-color:#5e5e5e;
                        color:#fff;
                        width:110px;
                        height:35px;
                        margin-bottom:25px;
                        &:hover{
                            background-color:rgba(0,0,0,.4);
                        }
                    }
                }
            }
		}
	}
}


.classpic{
    background:url(../../images/background/background.jpg) no-repeat;
    background-size:100% 100%;
    padding-top: 120px;
    padding-bottom:100px;
    .class1{     
        h1{
            text-align:center;
            margin-bottom:80px;
        }
        .khungAnh:before{
		    padding-bottom:100%;
	    }
        .hang2{
            margin-bottom:30px;
        }
        .anhclass{
            position:relative;
            .khungAnh{
                .khungAnhCrop{
                    img{
                        height:100%;
                    }
                }
            }
            .text{
                position:absolute;
                z-index:2;
                text-align:center;
                width:100%;
                bottom:0;
                padding-bottom:40px;
                padding-top:80px;
                background-image:linear-gradient(to top, #000, transparent);
                color:#fff;
                display:none;
                font-size:1.1rem;
            }
            &:hover .text{
                display:block;
            }
        }
    }
}


.video01{
    background:url(../../images/background/background.jpg) no-repeat;
    background-size:100% 100%;
    padding-top:90px;   
    .vd{
        .video2{
            position:relative;
            left:50%;
            transform:translateX(-50%);
            iframe{
                width:100%;
                height:100%;
                position:absolute;
            }
        }
    }
}


.lb2{
    .content{
        .khungAnh{
            display:inline-block;
            float:left;
            width:382px;
            height:716px;
            margin-right:30px;
            &:before{
                padding-bottom:183.6%;
            }
        }        
        .content1{
            padding-top:30px;
            padding-right:30px;
            padding-bottom:30px;
             h5{
                font-size:2.5rem;  
                margin-bottom:30px;          
            }
             .bang1{
                 margin-bottom:30px;
                 .tr{
                     .td{
                         &:first-child{
                             font-weight:bold;
                         }
                         &:last-child{
                             font-style:italic;
                             padding-left:10px;
                         }
                     }
                 }
             }
             h6{
                 font-size:1.5rem;
                 font-weight:bold;
                 text-transform:uppercase;
                 position:relative;
                 margin-bottom:15px;
                 &:after{
                     content:"";
                     position:absolute;
                     border-bottom:solid 1px #333;
                     width:300px;
                     top:50%;
                     transform:translateX(-50%);
                     right:-15%;
                 }
             }
             .bang2{
                 margin-bottom:30px;
                 .tr{
                     height:40px;
                     .td{
                         &:first-child{
                             font-weight:bold;
                             padding-right:10px;
                         }  
                         &:last-child{                             
                             width:250px;
                         }     
                         input{
                             box-sizing:border-box;
                             width:100%;
                             border: solid 1px #747474;
                             padding-left:5px;
                             &:focus{
                                 border:solid 1px #333;
                                 box-shadow: 0px 0px 2px rgba(#000,.4);
                             }
                         }                  
                     }
                 }
             }
             .giua{
                 text-align:center;
             }
             button{
                text-align:center;
                width:250px;
                height:50px;
                margin-left:150px;
                background-color:#747474;
                color:#fff;                
                &:hover{
                    background-color:rgba(#000,.7);
                }
             }
        }               
    }
    
    .book1{
        background-color:#f1f1f1;
        width:500px;
        padding:30px;
        text-align:center;
        font-size:1.5rem;
        position:absolute;
        z-index:2;
        top:50%;
        left:50%;
        transform:translate(-50%,-50%);
        border:solid 2px rgba(#000,.2);
        box-shadow:0px 0px 10px rgba(#000,.2);
        visibility:hidden;
    }
    
}

/* END BAKING PAGE */

















/* GALLERY PAGE */

.prdpage{    
     .parallax-gallery {
        min-height: 600px;
        background: transparent;
    }
}

.gallerypage{
    background:url(../../images/background/background.jpg) no-repeat;
    background-size:100% 100%;
    padding-top:85px;
    padding-bottom:80px;
    .gl2{
        .khungAnh:before{
		    padding-bottom:100%;
	    }
        .row{
            margin-bottom:25px;
        }        
    }
    .slick-dots{
		position: unset;	
		z-index: 2;
		margin-top: 60px;

		li{		
            position: relative;
            color:#fff;
            &:nth-child(2){
                margin-left:20px;
                margin-right:20px;
            }						
			a{              
                color:#fff; 
                font-size:0.75rem; 
                position:absolute;
                z-index:3;
                top:4px;
                left:50%;
                transform:translateX(-50%);  
			}
            &:after{
			content: "";
			position: absolute;
			top: 3px;
			right: 0;
			width: 20px;	
			height: 20px;
			border-radius: 50%;
			background-color: rgba(#6e675e,.6);					
			}	
            &:hover{
                &:after{
                    background-color:#6e675e;
                }                    
            }                
		}
        .slick-active{
            &:after{
                content: "";
				position: absolute;
				top: 3px;
				right: 0;
				width: 20px;	
				height: 20px;
				border-radius: 50%;
                background-color:#6e675e;
            }    
        }
	}    
}


/* END GALLERY PAGE */




















/* ABOUT PAGE */

.prdpage{      
    .parallax-about {
        min-height: 600px;
        background: transparent;
    }
}


/*ABOUT*/

.aboutpage{
    position:relative; 
    .khungAnh:before{
        padding-bottom:60%;
    }     
    .ab{     
        position:absolute;
        z-index:2;
        top:5%;   
        left:50%;
        transform:translateX(-50%);
        width:100%;
        .text{
            color:#747474;
            display: inline-block;
			width: 482px;
			height: 736px;
			float: left;	
			background-color: rgba(#ccc,.2);
			padding-left: 48px;
			padding-top: 54px;
			padding-right: 55px;
            margin-left:80px;
            h5{
                font-size:2.5rem;
                margin-bottom:25px;
            }
        }        			
		.khungAnh{
			width: 480px;
			height: 736px;
			float: left;
            &:before{
                padding-bottom:153.33%;
            }
		}		
    }
    .pop1{
        position:absolute;
        right:5%;
        bottom:1%;
        z-index:2;
        .khungAnh{
            width:263px;
            &:before{
                padding-bottom:73.38%;
            }
        }
    }
}

/*END ABOUT*/

/*WE DO*/

.wedo{
    position:relative;
    .khungAnh:before{
        padding-bottom:60%;
    }    
    .ab{     
        position:absolute;
        z-index:2;
        top:5%;
        left:50%;
        transform:translateX(-50%);  
        width:100%; 
        .text{
            color:#747474;
            display: inline-block;
			width: 482px;
			height: 736px;
			float: left;	
			background-color: rgba(#ccc,.2);
			padding-left: 48px;
			padding-top: 54px;
			padding-right: 55px;            
            h5{
                font-size:2.5rem;
                margin-bottom:25px;
            }
        }        			
		.khungAnh{
            margin-left:80px;
			width: 480px;
			height: 736px;
			float: left;
            &:before{
                padding-bottom:153.33%;
            }
		}		
    }    
}

/*END WE DO*/


// STAFF

.staff{	
    position:relative;
    .khungAnh:before{
        padding-bottom:45%;
    }  
	.staff1{
        position:absolute;
        z-index:2;
        top:5%;
        width:100%;
        left:50%;
        transform:translateX(-50%);
		text-align: center;		
		h5{
			font-size: 2rem;
			text-transform: uppercase;
			padding-bottom: 100px;
		}
        .khoi {
            position:relative;
            &:focus{
                outline:none;
            }
            .khungAnh:before{
			    padding-bottom:128.42%;
		    }
		    .khungAnh{
			    transform:none;		
		    }
            .pic{
                .khungAnhCrop{
                    img{
                        transform:translate(-50%,-50%) scale(1.1);
                    }
                }
            }
            .text{
                position:absolute;
                display:none;
                z-index:3;
                bottom:0;
                padding-bottom:38px;
                padding-top:100px;
                width:100%;
                color:#fff;
                font-size:1.2rem;
                background-image:linear-gradient(to top, rgba(#000,.3), transparent);
                p{
                    margin-bottom:5px;
                }
                .chef{
                    font-style:italic;
                }                
            }
            &:hover .text{
                display:block;
            }
        } 		
	}

	.left1, .right1{
		position: absolute;
		cursor:pointer;
		top: 50%;
		color: #a5a3a4;
		font-size: 3rem;
		z-index: 2;
		&:before{
			font-family: "FontAwesome";			
		}
        &:hover{
            color:#333;
        }
	}
	.left1{		
		left: 5%;
		&:before{
			content: "\f104";		
		}					
	}
	.right1{		
		right: 5%;
		&:before{
			content: "\f105";
		}			
	}	
}

// END STAFF


/* END ABOUT PAGE */
























/* CONTACT PAGE */

.prdpage{    
    .parallax-contact {
        min-height: 600px;
        background: transparent;
    }
}

.contact1{
    background:url(../../images/background/background.jpg) no-repeat;
    background-size:100% 100%;
    padding-top:120px;
    padding-bottom:120px;
    color:#646464;
    .text{
        background-color:rgba(#000,.05);
        max-width:592px;
        height:569px;
        float:left;        
        padding-top:93px;
        padding-left:86px;
        padding-right:86px;
        h5{
            font-size:2rem;
            margin-bottom:45px;
        }
        h6{
            font-size:1.5rem;
            text-align:center;
            margin-bottom:30px;
        }
        p{
            margin-left:65px;
            img{
                margin-right:18px;
            }
        }
        .dif{
            text-align:center;
            margin-bottom:60px;
            margin-left:0;
        }
    }
}


/* END CONTACT PAGE */


































/* CART PAGE */

.prdpage{    
    .parallax-cart {
        min-height: 600px;
        background: transparent;
    }
}

.cart1{
    color:#333;
    .khungAnh:before{
        padding-bottom:115%;
    }
    position:relative;
    text-align:center;
    .cart2{
        position:absolute;
        z-index:2;
        top:5%;
        left:50%;
        transform:translateX(-50%);
        width:100%;
       
        .order{
            .row{
                margin-bottom:10px;
            }
        }    
        h5{
            font-size:2rem;       
            margin-bottom:45px;
            text-transform:uppercase;
        }
        h6{        
            font-weight:bold;
            font-size:1.2rem;
            text-transform:uppercase;
            margin-bottom:20px;
        }    
        .order{
             p{
            position:absolute;
                top:50%;
                left:50%;
                transform:translate(-50%,-50%);        
            }
            .cake{
                text-align:left;
                p{
                    padding-top:0;
                    display:inline-block;
                    margin-left:0;
                    transform:translate(0,-50%);
                    left:35%;
                }
            }
        }
       
        .total{
            position:relative;
            padding-top:30px;
            margin-top:50px;
            &:after{
                content:"";
                border-top:solid 2px #646464;
                position:absolute;
                width:95%;
                left:50%;
                top:0;
                transform:translateX(-50%);
            }
            p{
                font-weight:bold;
                font-size:1.5rem;            
            }
            .cot1{
                p{
                    text-align:center;
                }
            }         
        }
        .pay{
            margin-top:100px;
            h5{
                margin-bottom:10px;
            }
        }
        .info{
            margin-top:70px; 
            .hang1{
                input{
                    width:300px;
                    height:39px;
                    border:solid 1px #8d8d8d;
                    color:#333;
                    text-align:center;
                    margin-bottom:15px;
                    margin-left:10px;
                    &:focus{
                        border:solid 1px #333;
                        box-shadow: 0px 0px 2px rgba(#000,.4);
                    }
                }
            }
            .hang2{
                input{
                    width:615px;
                    height:39px;
                    border:solid 1px #8d8d8d;
                    color:#333;
                    margin-bottom:15px;
                    margin-left:10px;
                    text-align:center;
                    &:focus{
                        border:solid 1px #333;
                    }
                }
            }        
            ::placeholder{
                color:rgba(#333,.5);
            }
            button{
                width:183px;
                height:44px;
                color:#fff;
                background-color:rgba(#000,.4);
                font-size:1.2rem;
                margin-top:15px;
                &:hover{
                    background-color:rgba(#000,.6);
                }
            }
        }
    }
}

.lightbox-target{
    background-color:rgba(0,0,0,.7);
    .lb{
        .cart{
            font-weight:bold;
            background-color:#f1f1f1;
            padding:10px;
            font-size:1.2rem;
            text-align:center;
            p{
                margin:0;
            }
        }
    }
}



/* END CART PAGE */



@import 'responsive.scss';