﻿body {
  font-family: "Poppins";
  cursor: default;
  line-height: 1.6; }

input, button {
  cursor: pointer; }
  input:focus, button:focus {
    outline: none; }

button {
  border: none; }

a {
  color: #000;
  outline: none; }
  a:focus {
    outline: none; }
  a:hover {
    text-decoration: none;
    cursor: pointer;
    color: #000; }

img:focus {
  outline: none; }

.container-fluid {
  padding: 0; }

/* UP TO TOP BUTTON */
#myBtn {
  display: none;
  position: fixed;
  bottom: 5%;
  right: 1.5%;
  z-index: 99;
  font-size: 1.2rem;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  cursor: pointer;
  text-align: center;
  border-radius: 50%;
  width: 40px;
  height: 40px; }
  #myBtn:hover {
    background-color: rgba(0, 0, 0, 0.5); }

/* END UP TO TOP BUTTON */
/* WELCOME PAGE */
.welcome {
  position: relative; }
  .welcome .khungAnh:before {
    padding-bottom: 0; }
  .welcome .khungAnh {
    height: 100vh;
    width: 100vw; }
    .welcome .khungAnh .khungAnhCrop img {
      height: 100%; }
  .welcome .cot {
    position: absolute;
    z-index: 2;
    top: 30%;
    right: 15%;
    color: #fff;
    max-width: 450px; }
    .welcome .cot button {
      float: right;
      width: 171px;
      height: 63px;
      border: none;
      background-color: #767676;
      color: #fff;
      font-size: 1.5rem;
      box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
      cursor: pointer; }
      .welcome .cot button:hover {
        background-color: rgba(0, 0, 0, 0.5); }
    .welcome .cot p {
      font-style: italic;
      text-align: right;
      font-size: 1.2rem;
      margin: 0;
      padding-bottom: 37px; }

/* END WELCOME PAGE */
/* HOME PAGE */
header {
  position: relative; }
  header .khungAnh:before {
    padding-bottom: 48%; }
  header .mn {
    position: absolute;
    top: 40px;
    z-index: 2; }
    header .mn .logo a img {
      width: 140px;
      opacity: 0.6; }
    header .mn .menu {
      text-align: right;
      margin-top: 20px;
      margin-bottom: 30px; }
      header .mn .menu .menu1 a {
        font-weight: 300;
        font-size: 0.95rem;
        margin-left: 28px;
        /*&:last-child{
				        border: none;
			        }*/ }
        header .mn .menu .menu1 a:hover {
          border-bottom: solid 1px #666;
          padding-bottom: 5px; }
        header .mn .menu .menu1 a:nth-child(3):hover {
          border: none; }
      header .mn .menu .menu1 .active {
        border-bottom: solid 1px #666;
        padding-bottom: 5px; }
      header .mn .menu .menu1 .drop {
        display: inline-block;
        position: relative; }
        header .mn .menu .menu1 .drop:hover a {
          border: none; }
        header .mn .menu .menu1 .drop .drw {
          position: absolute;
          background-color: rgba(0, 0, 0, 0.6);
          text-align: center;
          top: 100%;
          left: 50%;
          transform: translateX(-50%);
          min-width: 150px;
          display: none; }
          header .mn .menu .menu1 .drop .drw a {
            display: block;
            margin: 0;
            padding-top: 5px;
            padding-bottom: 5px;
            color: #fff;
            border-bottom: solid 1px #7e7e7e; }
            header .mn .menu .menu1 .drop .drw a:first-child {
              padding-top: 10px; }
            header .mn .menu .menu1 .drop .drw a:last-child {
              padding-bottom: 10px;
              border: none; }
            header .mn .menu .menu1 .drop .drw a:hover {
              background-color: #fff;
              border: none;
              color: #333; }
          header .mn .menu .menu1 .drop .drw .active {
            background-color: #fff;
            border-bottom: solid 1px #7e7e7e;
            color: #333; }
        header .mn .menu .menu1 .drop:hover .drw {
          display: block; }
      header .mn .menu i {
        font-size: 1.2rem;
        margin-left: 28px; }
        header .mn .menu i.active1, header .mn .menu i:hover {
          color: rgba(0, 0, 0, 0.5); }
  header .left, header .right {
    position: absolute;
    cursor: pointer;
    top: 50%;
    color: #a5a3a4;
    font-size: 3rem;
    z-index: 1; }
    header .left:before, header .right:before {
      font-family: "FontAwesome"; }
    header .left:hover, header .right:hover {
      color: #333; }
  header .left {
    left: 7%; }
    header .left:before {
      content: "\f104"; }
  header .right {
    right: 7%; }
    header .right:before {
      content: "\f105"; }

.homepage .sld {
  position: relative; }
  .homepage .sld .text {
    position: absolute;
    z-index: 2;
    bottom: 40%;
    right: 15%;
    text-align: center; }
    .homepage .sld .text h1 {
      font-size: 4rem; }
    .homepage .sld .text p {
      font-size: 1.2rem; }

.about {
  position: relative;
  background: url(../../images/background/background.jpg) no-repeat;
  background-size: 100% 100%;
  padding-top: 126px;
  padding-bottom: 100px; }
  .about .ab .khungAnh {
    width: 357px;
    height: 568px;
    float: left; }
  .about .ab .text {
    display: inline-block;
    width: 570px;
    height: 568px;
    float: left;
    background-color: rgba(204, 204, 204, 0.2);
    padding-left: 48px;
    padding-top: 54px;
    padding-right: 55px; }
    .about .ab .text button {
      width: 120px;
      height: 40px;
      color: #fff;
      margin-top: 20px;
      background-color: rgba(51, 51, 51, 0.5); }
      .about .ab .text button:hover {
        background-color: #333; }
  .about .ab h5 {
    padding-bottom: 44px;
    font-size: 2rem; }
  .about .pop1, .about .pop2 {
    position: absolute;
    z-index: 1; }
  .about .pop1 {
    bottom: 7%;
    right: 10%;
    width: 279px; }
    .about .pop1 .khungAnh:before {
      padding-bottom: 50.89%; }
  .about .pop2 {
    right: 0;
    top: 5%;
    width: 188px; }
    .about .pop2 .khungAnh:before {
      padding-bottom: 114.36%; }

.product {
  color: #fff;
  text-align: center;
  position: relative; }
  .product .parallax-product {
    min-height: 600px;
    background: transparent; }
  .product .pd {
    position: absolute;
    z-index: 2;
    top: 70px; }
    .product .pd .col {
      padding: 0; }
    .product .pd h5 {
      font-size: 2rem;
      text-transform: uppercase;
      padding-bottom: 50px; }
    .product .pd .c1, .product .pd .c2 {
      color: #fff;
      width: 370px;
      height: 179px; }
    .product .pd .c1 {
      float: right;
      margin-right: 11px; }
      .product .pd .c1:first-child {
        margin-bottom: 12px; }
    .product .pd .c2 {
      float: left; }
      .product .pd .c2:first-child {
        margin-bottom: 12px; }
    .product .pd .cake {
      background: url(../../images/icon/icon1.png) no-repeat rgba(255, 255, 255, 0.1);
      background-position: center 36px;
      position: relative; }
      .product .pd .cake:before {
        content: "Cake";
        position: absolute;
        bottom: 15%; }
      .product .pd .cake:hover {
        background: url(../../images/icon/icon1.png) no-repeat rgba(0, 0, 0, 0.5);
        background-position: center 36px; }
    .product .pd .maca {
      background: url(../../images/icon/icon2.png) no-repeat rgba(255, 255, 255, 0.1);
      background-position: center center;
      position: relative; }
      .product .pd .maca:before {
        content: "Macaroon";
        position: absolute;
        bottom: 15%; }
      .product .pd .maca:hover {
        background: url(../../images/icon/icon2.png) no-repeat rgba(0, 0, 0, 0.5);
        background-position: center center; }
    .product .pd .cup {
      background: url(../../images/icon/icon3.png) no-repeat rgba(255, 255, 255, 0.1);
      background-position: center 36px;
      position: relative; }
      .product .pd .cup:before {
        content: "Cupcake";
        position: absolute;
        bottom: 15%; }
      .product .pd .cup:hover {
        background: url(../../images/icon/icon3.png) no-repeat rgba(0, 0, 0, 0.5);
        background-position: center 36px; }
    .product .pd .ev {
      background: url(../../images/icon/icon4.png) no-repeat rgba(255, 255, 255, 0.1);
      background-position: center 28px;
      position: relative; }
      .product .pd .ev:before {
        content: "Events";
        position: absolute;
        bottom: 15%; }
      .product .pd .ev:hover {
        background: url(../../images/icon/icon4.png) no-repeat rgba(0, 0, 0, 0.5);
        background-position: center 28px; }

.bake {
  background: url(../../images/background/background.jpg) no-repeat;
  background-size: 100% 100%;
  position: relative;
  padding-top: 70px;
  padding-bottom: 50px; }
  .bake .pop1, .bake .pop2 {
    position: absolute;
    z-index: 2; }
  .bake .pop1 {
    right: 0;
    top: 10%;
    width: 199px; }
    .bake .pop1 .khungAnh:before {
      padding-bottom: 42.71%; }
  .bake .pop2 {
    left: 0;
    bottom: -30%;
    width: 310px; }
    .bake .pop2 .khungAnh:before {
      padding-bottom: 98.72%; }
  .bake .bake1 .khoi {
    float: right; }
  .bake .bake1 .video {
    height: 568px;
    float: left;
    display: inline-block; }
  .bake .bake1 .text {
    width: 423px;
    height: 568px;
    background-color: rgba(204, 204, 204, 0.2);
    padding-left: 55px;
    padding-top: 54px;
    padding-right: 48px;
    margin-left: 500px; }
    .bake .bake1 .text h5 {
      font-size: 2rem;
      text-transform: uppercase;
      padding-bottom: 40px; }
    .bake .bake1 .text button {
      width: 120px;
      height: 40px;
      color: #fff;
      margin-top: 20px;
      background-color: rgba(51, 51, 51, 0.5); }
      .bake .bake1 .text button:hover {
        background-color: #333; }

.gallery {
  background: url(../../images/background/background.jpg) no-repeat;
  background-size: 100% 100%;
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative; }
  .gallery .gallery1 {
    text-align: center; }
    .gallery .gallery1 h5 {
      font-size: 2rem;
      text-transform: uppercase;
      padding-bottom: 100px; }
    .gallery .gallery1 .khungAnh:before {
      padding-bottom: 128.42%; }
    .gallery .gallery1 .khungAnh {
      transform: none; }
  .gallery .left1, .gallery .right1 {
    position: absolute;
    cursor: pointer;
    top: 55%;
    color: #a5a3a4;
    font-size: 3rem;
    z-index: 2; }
    .gallery .left1:before, .gallery .right1:before {
      font-family: "FontAwesome"; }
    .gallery .left1:hover, .gallery .right1:hover {
      color: #333; }
  .gallery .left1 {
    left: 5%; }
    .gallery .left1:before {
      content: "\f104"; }
  .gallery .right1 {
    right: 5%; }
    .gallery .right1:before {
      content: "\f105"; }

footer {
  position: relative; }
  footer .parallax-footer {
    min-height: 280px;
    background: transparent; }
  footer .ft {
    position: absolute;
    z-index: 2;
    top: 50px;
    text-align: center;
    color: #fff; }
    footer .ft .logo img {
      width: 140px; }
    footer .ft .nut {
      margin-top: 25px;
      margin-bottom: 20px; }
      footer .ft .nut a {
        color: #fff; }
        footer .ft .nut a:nth-child(2) {
          margin-left: 45px;
          margin-right: 45px; }

/* END HOME PAGE */
/* PRODUCTS PAGE */
.prdpage {
  position: relative; }
  .prdpage .parallax-pd {
    min-height: 600px;
    background: transparent; }
  .prdpage .khungAnh:before {
    padding-bottom: 46.69%; }
  .prdpage .heading {
    position: absolute;
    z-index: 1;
    bottom: 40%;
    text-align: right;
    color: #333; }
    .prdpage .heading h1 {
      font-size: 4rem;
      position: relative;
      margin-bottom: 40px;
      display: inline-block; }
      .prdpage .heading h1:after {
        position: absolute;
        content: "";
        border-bottom: solid 1px #333;
        width: 100%;
        bottom: -10px;
        right: 0; }
    .prdpage .heading p {
      font-size: 1.2rem; }

.icon {
  position: relative; }
  .icon .icon1 {
    text-align: center;
    position: absolute;
    z-index: 2;
    top: 5%; }
    .icon .icon1 .cake {
      background: url(../../images/icon/icon1.png) no-repeat;
      position: relative;
      background-position: center 36px; }
      .icon .icon1 .cake:before {
        content: "Cake";
        position: absolute;
        bottom: 20%;
        left: 50%;
        transform: translateX(-50%); }
      .icon .icon1 .cake:hover {
        border-radius: 50%;
        background: url(../../images/icon/ic1.png) no-repeat rgba(255, 255, 255, 0.9);
        background-position: center 36px;
        color: #8d8882; }
    .icon .icon1 .maca {
      background: url(../../images/icon/icon2.png) no-repeat;
      position: relative;
      background-position: center 66px; }
      .icon .icon1 .maca:before {
        content: "Macaroon";
        position: absolute;
        bottom: 20%;
        left: 50%;
        transform: translateX(-50%); }
      .icon .icon1 .maca:hover {
        border-radius: 50%;
        background: url(../../images/icon/ic2.png) no-repeat rgba(255, 255, 255, 0.9);
        background-position: center 66px;
        color: #8d8882; }
    .icon .icon1 .cup {
      background: url(../../images/icon/icon3.png) no-repeat;
      position: relative;
      background-position: center 36px; }
      .icon .icon1 .cup:before {
        content: "Cupcake";
        position: absolute;
        bottom: 20%;
        left: 50%;
        transform: translateX(-50%); }
      .icon .icon1 .cup:hover {
        border-radius: 50%;
        background: url(../../images/icon/ic3.png) no-repeat rgba(255, 255, 255, 0.9);
        background-position: center 36px;
        color: #8d8882; }
    .icon .icon1 .ev {
      background: url(../../images/icon/icon4.png) no-repeat;
      position: relative;
      background-position: center 30px; }
      .icon .icon1 .ev:before {
        content: "Events";
        position: absolute;
        bottom: 20%;
        left: 50%;
        transform: translateX(-50%); }
      .icon .icon1 .ev:hover {
        border-radius: 50%;
        background: url(../../images/icon/ic4.png) no-repeat rgba(255, 255, 255, 0.9);
        background-position: center 30px;
        color: #8d8882; }
    .icon .icon1 .active, .icon .icon1 .active1, .icon .icon1 .active2, .icon .icon1 .active3 {
      color: #8d8882;
      border-radius: 50%; }
    .icon .icon1 .active {
      background: url(../../images/icon/ic1.png) no-repeat rgba(255, 255, 255, 0.9);
      background-position: center 36px; }
    .icon .icon1 .active1 {
      background: url(../../images/icon/ic2.png) no-repeat rgba(255, 255, 255, 0.9);
      background-position: center 66px; }
    .icon .icon1 .active2 {
      background: url(../../images/icon/ic3.png) no-repeat rgba(255, 255, 255, 0.9);
      background-position: center 36px; }
    .icon .icon1 .active3 {
      background: url(../../images/icon/ic4.png) no-repeat rgba(255, 255, 255, 0.9);
      background-position: center 30px; }
    .icon .icon1 button {
      background-color: transparent;
      color: #fff;
      font-size: 1.3rem;
      width: 199px;
      height: 199px; }
      .icon .icon1 button img {
        margin-bottom: 25px; }

.products1 {
  position: relative; }
  .products1 .hang2 {
    margin-top: 49px; }
  .products1 .prd1 {
    position: absolute;
    z-index: 2;
    top: 2%;
    padding: 0; }
    .products1 .prd1 .khungAnh:before {
      padding-bottom: 122.81%; }
    .products1 .prd1 .slick-list a {
      width: 263px;
      color: #fff;
      text-align: left;
      padding: 0; }
    .products1 .prd1 .cake {
      padding-top: 15px;
      background-color: rgba(110, 103, 94, 0.7);
      height: 75px; }
      .products1 .prd1 .cake p {
        margin: 0;
        margin-left: 7px;
        margin-bottom: 7px; }
        .products1 .prd1 .cake p:first-child {
          font-weight: bold; }
      .products1 .prd1 .cake .price {
        display: inline-block;
        float: left;
        font-style: italic; }
      .products1 .prd1 .cake i {
        float: right;
        font-size: 0.6rem;
        margin-top: 10px;
        margin-right: 7px; }
    .products1 .prd1 .c1, .products1 .prd1 .c2, .products1 .prd1 .c3, .products1 .prd1 .c4 {
      width: 285px; }
    .products1 .prd1 .slick-dots {
      position: unset;
      z-index: 2;
      margin-top: 60px; }
      .products1 .prd1 .slick-dots li {
        position: relative; }
        .products1 .prd1 .slick-dots li:nth-child(2) {
          margin-left: 20px;
          margin-right: 20px; }
        .products1 .prd1 .slick-dots li a {
          color: #fff;
          font-size: 0.75rem;
          position: absolute;
          z-index: 3;
          top: 4px;
          left: 50%;
          transform: translateX(-50%); }
        .products1 .prd1 .slick-dots li:after {
          content: "";
          position: absolute;
          top: 3px;
          right: 0;
          width: 20px;
          height: 20px;
          border-radius: 50%;
          background-color: rgba(110, 103, 94, 0.6); }
        .products1 .prd1 .slick-dots li:hover:after {
          background-color: #6e675e; }
      .products1 .prd1 .slick-dots .slick-active:after {
        content: "";
        position: absolute;
        top: 3px;
        right: 0;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: #6e675e; }

/*LIGHTBOX*/
.lb1 .cart {
  background-color: #f1f1f1;
  color: #333;
  font-size: 1.5rem;
  position: absolute;
  z-index: 3;
  top: 30%;
  left: 15%;
  width: 600px;
  height: 150px;
  padding-top: 50px;
  text-align: center;
  border: solid 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  visibility: hidden; }

.lb1 .content {
  color: #747474; }
  .lb1 .content h6 {
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 16px; }
  .lb1 .content .quantity {
    font-weight: bold; }
    .lb1 .content .quantity #number {
      font-weight: normal;
      margin-left: 10px; }
    .lb1 .content .quantity button {
      background-color: transparent;
      margin-left: 10px; }
  .lb1 .content .price {
    font-size: 1.3rem;
    font-style: italic;
    margin-bottom: 40px; }
  .lb1 .content .add {
    background-color: #747474;
    width: 268px;
    height: 57px;
    color: #fff;
    margin-left: 68px;
    margin-top: 20px;
    position: relative; }
    .lb1 .content .add:after {
      content: "";
      border-top: solid 1px #bebebe;
      position: absolute;
      width: 446px;
      right: -82px;
      top: -15px; }

/*END LIGHTBOX*/
/* END PRODUCTS PAGE */
/* BAKING PAGE */
.prdpage .parallax-baking {
  min-height: 600px;
  background: transparent; }

.baking {
  background: url(../../images/background/background.jpg) no-repeat;
  background-size: 100% 100%;
  padding-top: 100px; }
  .baking .baking1 {
    text-align: center; }
    .baking .baking1 .hang1 h1 {
      margin-bottom: 28px; }
    .baking .baking1 .hang1 p {
      margin-bottom: 93px; }
    .baking .baking1 .hang2 .khungAnh:before {
      padding-bottom: 116.12%; }
    .baking .baking1 .hang2 .cot {
      background-color: rgba(0, 0, 0, 0.1); }
      .baking .baking1 .hang2 .cot .anh {
        position: relative; }
        .baking .baking1 .hang2 .cot .anh .t1 {
          position: absolute;
          z-index: 2;
          bottom: 0;
          padding-bottom: 30px;
          padding-left: 10px;
          padding-right: 10px;
          padding-top: 50px;
          color: #fff;
          background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent);
          margin-bottom: 0;
          display: none; }
      .baking .baking1 .hang2 .cot:hover .t1 {
        display: block; }
      .baking .baking1 .hang2 .cot .text h6 {
        font-weight: bold;
        padding-top: 23px;
        margin-bottom: 10px;
        font-size: 1.2rem; }
      .baking .baking1 .hang2 .cot .text p {
        font-size: 1.2rem;
        margin-bottom: 15px; }
        .baking .baking1 .hang2 .cot .text p .do {
          margin-left: 68px;
          position: relative; }
          .baking .baking1 .hang2 .cot .text p .do:after {
            position: absolute;
            content: "";
            border-left: solid 2px #333;
            height: 80%;
            top: 3px;
            left: -40px; }
      .baking .baking1 .hang2 .cot .text button {
        background-color: #5e5e5e;
        color: #fff;
        width: 110px;
        height: 35px;
        margin-bottom: 25px; }
        .baking .baking1 .hang2 .cot .text button:hover {
          background-color: rgba(0, 0, 0, 0.4); }

.classpic {
  background: url(../../images/background/background.jpg) no-repeat;
  background-size: 100% 100%;
  padding-top: 120px;
  padding-bottom: 100px; }
  .classpic .class1 h1 {
    text-align: center;
    margin-bottom: 80px; }
  .classpic .class1 .khungAnh:before {
    padding-bottom: 100%; }
  .classpic .class1 .hang2 {
    margin-bottom: 30px; }
  .classpic .class1 .anhclass {
    position: relative; }
    .classpic .class1 .anhclass .khungAnh .khungAnhCrop img {
      height: 100%; }
    .classpic .class1 .anhclass .text {
      position: absolute;
      z-index: 2;
      text-align: center;
      width: 100%;
      bottom: 0;
      padding-bottom: 40px;
      padding-top: 80px;
      background-image: linear-gradient(to top, #000, transparent);
      color: #fff;
      display: none;
      font-size: 1.1rem; }
    .classpic .class1 .anhclass:hover .text {
      display: block; }

.video01 {
  background: url(../../images/background/background.jpg) no-repeat;
  background-size: 100% 100%;
  padding-top: 90px; }
  .video01 .vd .video2 {
    position: relative;
    left: 50%;
    transform: translateX(-50%); }
    .video01 .vd .video2 iframe {
      width: 100%;
      height: 100%;
      position: absolute; }

.lb2 .content .khungAnh {
  display: inline-block;
  float: left;
  width: 382px;
  height: 716px;
  margin-right: 30px; }
  .lb2 .content .khungAnh:before {
    padding-bottom: 183.6%; }

.lb2 .content .content1 {
  padding-top: 30px;
  padding-right: 30px;
  padding-bottom: 30px; }
  .lb2 .content .content1 h5 {
    font-size: 2.5rem;
    margin-bottom: 30px; }
  .lb2 .content .content1 .bang1 {
    margin-bottom: 30px; }
    .lb2 .content .content1 .bang1 .tr .td:first-child {
      font-weight: bold; }
    .lb2 .content .content1 .bang1 .tr .td:last-child {
      font-style: italic;
      padding-left: 10px; }
  .lb2 .content .content1 h6 {
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 15px; }
    .lb2 .content .content1 h6:after {
      content: "";
      position: absolute;
      border-bottom: solid 1px #333;
      width: 300px;
      top: 50%;
      transform: translateX(-50%);
      right: -15%; }
  .lb2 .content .content1 .bang2 {
    margin-bottom: 30px; }
    .lb2 .content .content1 .bang2 .tr {
      height: 40px; }
      .lb2 .content .content1 .bang2 .tr .td:first-child {
        font-weight: bold;
        padding-right: 10px; }
      .lb2 .content .content1 .bang2 .tr .td:last-child {
        width: 250px; }
      .lb2 .content .content1 .bang2 .tr .td input {
        box-sizing: border-box;
        width: 100%;
        border: solid 1px #747474;
        padding-left: 5px; }
        .lb2 .content .content1 .bang2 .tr .td input:focus {
          border: solid 1px #333;
          box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.4); }
  .lb2 .content .content1 .giua {
    text-align: center; }
  .lb2 .content .content1 button {
    text-align: center;
    width: 250px;
    height: 50px;
    margin-left: 150px;
    background-color: #747474;
    color: #fff; }
    .lb2 .content .content1 button:hover {
      background-color: rgba(0, 0, 0, 0.7); }

.lb2 .book1 {
  background-color: #f1f1f1;
  width: 500px;
  padding: 30px;
  text-align: center;
  font-size: 1.5rem;
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: solid 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  visibility: hidden; }

/* END BAKING PAGE */
/* GALLERY PAGE */
.prdpage .parallax-gallery {
  min-height: 600px;
  background: transparent; }

.gallerypage {
  background: url(../../images/background/background.jpg) no-repeat;
  background-size: 100% 100%;
  padding-top: 85px;
  padding-bottom: 80px; }
  .gallerypage .gl2 .khungAnh:before {
    padding-bottom: 100%; }
  .gallerypage .gl2 .row {
    margin-bottom: 25px; }
  .gallerypage .slick-dots {
    position: unset;
    z-index: 2;
    margin-top: 60px; }
    .gallerypage .slick-dots li {
      position: relative;
      color: #fff; }
      .gallerypage .slick-dots li:nth-child(2) {
        margin-left: 20px;
        margin-right: 20px; }
      .gallerypage .slick-dots li a {
        color: #fff;
        font-size: 0.75rem;
        position: absolute;
        z-index: 3;
        top: 4px;
        left: 50%;
        transform: translateX(-50%); }
      .gallerypage .slick-dots li:after {
        content: "";
        position: absolute;
        top: 3px;
        right: 0;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: rgba(110, 103, 94, 0.6); }
      .gallerypage .slick-dots li:hover:after {
        background-color: #6e675e; }
    .gallerypage .slick-dots .slick-active:after {
      content: "";
      position: absolute;
      top: 3px;
      right: 0;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: #6e675e; }

/* END GALLERY PAGE */
/* ABOUT PAGE */
.prdpage .parallax-about {
  min-height: 600px;
  background: transparent; }

/*ABOUT*/
.aboutpage {
  position: relative; }
  .aboutpage .khungAnh:before {
    padding-bottom: 60%; }
  .aboutpage .ab {
    position: absolute;
    z-index: 2;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%; }
    .aboutpage .ab .text {
      color: #747474;
      display: inline-block;
      width: 482px;
      height: 736px;
      float: left;
      background-color: rgba(204, 204, 204, 0.2);
      padding-left: 48px;
      padding-top: 54px;
      padding-right: 55px;
      margin-left: 80px; }
      .aboutpage .ab .text h5 {
        font-size: 2.5rem;
        margin-bottom: 25px; }
    .aboutpage .ab .khungAnh {
      width: 480px;
      height: 736px;
      float: left; }
      .aboutpage .ab .khungAnh:before {
        padding-bottom: 153.33%; }
  .aboutpage .pop1 {
    position: absolute;
    right: 5%;
    bottom: 1%;
    z-index: 2; }
    .aboutpage .pop1 .khungAnh {
      width: 263px; }
      .aboutpage .pop1 .khungAnh:before {
        padding-bottom: 73.38%; }

/*END ABOUT*/
/*WE DO*/
.wedo {
  position: relative; }
  .wedo .khungAnh:before {
    padding-bottom: 60%; }
  .wedo .ab {
    position: absolute;
    z-index: 2;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%; }
    .wedo .ab .text {
      color: #747474;
      display: inline-block;
      width: 482px;
      height: 736px;
      float: left;
      background-color: rgba(204, 204, 204, 0.2);
      padding-left: 48px;
      padding-top: 54px;
      padding-right: 55px; }
      .wedo .ab .text h5 {
        font-size: 2.5rem;
        margin-bottom: 25px; }
    .wedo .ab .khungAnh {
      margin-left: 80px;
      width: 480px;
      height: 736px;
      float: left; }
      .wedo .ab .khungAnh:before {
        padding-bottom: 153.33%; }

/*END WE DO*/
.staff {
  position: relative; }
  .staff .khungAnh:before {
    padding-bottom: 45%; }
  .staff .staff1 {
    position: absolute;
    z-index: 2;
    top: 5%;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center; }
    .staff .staff1 h5 {
      font-size: 2rem;
      text-transform: uppercase;
      padding-bottom: 100px; }
    .staff .staff1 .khoi {
      position: relative; }
      .staff .staff1 .khoi:focus {
        outline: none; }
      .staff .staff1 .khoi .khungAnh:before {
        padding-bottom: 128.42%; }
      .staff .staff1 .khoi .khungAnh {
        transform: none; }
      .staff .staff1 .khoi .pic .khungAnhCrop img {
        transform: translate(-50%, -50%) scale(1.1); }
      .staff .staff1 .khoi .text {
        position: absolute;
        display: none;
        z-index: 3;
        bottom: 0;
        padding-bottom: 38px;
        padding-top: 100px;
        width: 100%;
        color: #fff;
        font-size: 1.2rem;
        background-image: linear-gradient(to top, rgba(0, 0, 0, 0.3), transparent); }
        .staff .staff1 .khoi .text p {
          margin-bottom: 5px; }
        .staff .staff1 .khoi .text .chef {
          font-style: italic; }
      .staff .staff1 .khoi:hover .text {
        display: block; }
  .staff .left1, .staff .right1 {
    position: absolute;
    cursor: pointer;
    top: 50%;
    color: #a5a3a4;
    font-size: 3rem;
    z-index: 2; }
    .staff .left1:before, .staff .right1:before {
      font-family: "FontAwesome"; }
    .staff .left1:hover, .staff .right1:hover {
      color: #333; }
  .staff .left1 {
    left: 5%; }
    .staff .left1:before {
      content: "\f104"; }
  .staff .right1 {
    right: 5%; }
    .staff .right1:before {
      content: "\f105"; }

/* END ABOUT PAGE */
/* CONTACT PAGE */
.prdpage .parallax-contact {
  min-height: 600px;
  background: transparent; }

.contact1 {
  background: url(../../images/background/background.jpg) no-repeat;
  background-size: 100% 100%;
  padding-top: 120px;
  padding-bottom: 120px;
  color: #646464; }
  .contact1 .text {
    background-color: rgba(0, 0, 0, 0.05);
    max-width: 592px;
    height: 569px;
    float: left;
    padding-top: 93px;
    padding-left: 86px;
    padding-right: 86px; }
    .contact1 .text h5 {
      font-size: 2rem;
      margin-bottom: 45px; }
    .contact1 .text h6 {
      font-size: 1.5rem;
      text-align: center;
      margin-bottom: 30px; }
    .contact1 .text p {
      margin-left: 65px; }
      .contact1 .text p img {
        margin-right: 18px; }
    .contact1 .text .dif {
      text-align: center;
      margin-bottom: 60px;
      margin-left: 0; }

/* END CONTACT PAGE */
/* CART PAGE */
.prdpage .parallax-cart {
  min-height: 600px;
  background: transparent; }

.cart1 {
  color: #333;
  position: relative;
  text-align: center; }
  .cart1 .khungAnh:before {
    padding-bottom: 115%; }
  .cart1 .cart2 {
    position: absolute;
    z-index: 2;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%; }
    .cart1 .cart2 .order .row {
      margin-bottom: 10px; }
    .cart1 .cart2 h5 {
      font-size: 2rem;
      margin-bottom: 45px;
      text-transform: uppercase; }
    .cart1 .cart2 h6 {
      font-weight: bold;
      font-size: 1.2rem;
      text-transform: uppercase;
      margin-bottom: 20px; }
    .cart1 .cart2 .order p {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
    .cart1 .cart2 .order .cake {
      text-align: left; }
      .cart1 .cart2 .order .cake p {
        padding-top: 0;
        display: inline-block;
        margin-left: 0;
        transform: translate(0, -50%);
        left: 35%; }
    .cart1 .cart2 .total {
      position: relative;
      padding-top: 30px;
      margin-top: 50px; }
      .cart1 .cart2 .total:after {
        content: "";
        border-top: solid 2px #646464;
        position: absolute;
        width: 95%;
        left: 50%;
        top: 0;
        transform: translateX(-50%); }
      .cart1 .cart2 .total p {
        font-weight: bold;
        font-size: 1.5rem; }
      .cart1 .cart2 .total .cot1 p {
        text-align: center; }
    .cart1 .cart2 .pay {
      margin-top: 100px; }
      .cart1 .cart2 .pay h5 {
        margin-bottom: 10px; }
    .cart1 .cart2 .info {
      margin-top: 70px; }
      .cart1 .cart2 .info .hang1 input {
        width: 300px;
        height: 39px;
        border: solid 1px #8d8d8d;
        color: #333;
        text-align: center;
        margin-bottom: 15px;
        margin-left: 10px; }
        .cart1 .cart2 .info .hang1 input:focus {
          border: solid 1px #333;
          box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.4); }
      .cart1 .cart2 .info .hang2 input {
        width: 615px;
        height: 39px;
        border: solid 1px #8d8d8d;
        color: #333;
        margin-bottom: 15px;
        margin-left: 10px;
        text-align: center; }
        .cart1 .cart2 .info .hang2 input:focus {
          border: solid 1px #333; }
      .cart1 .cart2 .info ::placeholder {
        color: rgba(51, 51, 51, 0.5); }
      .cart1 .cart2 .info button {
        width: 183px;
        height: 44px;
        color: #fff;
        background-color: rgba(0, 0, 0, 0.4);
        font-size: 1.2rem;
        margin-top: 15px; }
        .cart1 .cart2 .info button:hover {
          background-color: rgba(0, 0, 0, 0.6); }

.lightbox-target {
  background-color: rgba(0, 0, 0, 0.7); }
  .lightbox-target .lb .cart {
    font-weight: bold;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 1.2rem;
    text-align: center; }
    .lightbox-target .lb .cart p {
      margin: 0; }

/* END CART PAGE */
/*MIN WIDTH 320PX*/
@media (min-width: 320px) {
  .welcome .cot {
    top: 45%;
    right: 10%; }
    .welcome .cot p {
      font-size: 0.9rem;
      padding-bottom: 25px; }
    .welcome .cot button {
      font-size: 1rem;
      width: 100px;
      height: 40px; }
  .homepage .sld .text {
    bottom: 10%;
    right: 5%; }
    .homepage .sld .text h1 {
      font-size: 1.6rem; }
    .homepage .sld .text p {
      font-size: 0.8rem; }
      .homepage .sld .text p span {
        display: block; }
  footer .ft {
    width: 100%;
    left: 50%;
    transform: translate(-50%, 0); }
  .product .pd {
    width: 100%;
    left: 50%;
    transform: translate(-50%, 0); }
  header .khungAnh:before {
    padding-bottom: 60%; }
  header .left, header .right {
    top: 35%;
    font-size: 2rem; }
  header .left {
    left: 0; }
  header .right {
    right: 0; }
  header .mn {
    top: 10px;
    width: 100%;
    left: 50%;
    transform: translate(-50%, 0); }
    header .mn .logo a img {
      width: 80px; }
    header .mn .menu {
      margin-top: 0; }
      header .mn .menu i {
        font-size: 0.9rem;
        margin-left: 15px; }
      header .mn .menu .menu1 {
        min-width: 120px;
        right: 16%;
        z-index: 3; }
        header .mn .menu .menu1 .active {
          padding-bottom: 2px;
          padding-top: 2px;
          border-bottom: solid 1px #666;
          border-top: solid 1px #666; }
        header .mn .menu .menu1 .drop {
          width: 100%; }
          header .mn .menu .menu1 .drop .drw {
            left: -63%;
            top: 0; }
            header .mn .menu .menu1 .drop .drw a {
              padding-top: 2px;
              padding-bottom: 2px; }
              header .mn .menu .menu1 .drop .drw a:first-child {
                padding-top: 4px; }
              header .mn .menu .menu1 .drop .drw a:last-child {
                padding-bottom: 4px; }
        header .mn .menu .menu1 a {
          margin: 0;
          font-size: 0.75rem;
          padding-bottom: 2px;
          padding-top: 2px; }
          header .mn .menu .menu1 a:hover {
            padding-bottom: 2px;
            border: none; }
          header .mn .menu .menu1 a:first-child {
            padding-top: 4px; }
          header .mn .menu .menu1 a:last-child {
            padding-bottom: 4px; }
  .about {
    padding-top: 50px;
    padding-bottom: 50px; }
    .about .pop2 {
      width: 90px; }
    .about .pop1 {
      width: 150px;
      right: 1%;
      bottom: 2%; }
    .about .ab .khungAnh {
      display: none; }
    .about .ab .text {
      width: 100%;
      padding-left: 20px;
      padding-right: 25px;
      padding-bottom: 50px;
      height: auto; }
      .about .ab .text button {
        margin-top: 10px; }
      .about .ab .text h5 {
        padding-bottom: 20px;
        font-size: 1.4rem; }
      .about .ab .text p {
        font-size: 0.9rem; }
        .about .ab .text p span {
          display: none; }
  .product .parallax-product {
    min-height: 320px; }
  .product .pd {
    top: 30px; }
    .product .pd h5 {
      font-size: 1.4rem;
      padding-bottom: 20px; }
    .product .pd .c1 {
      margin-right: 5px; }
    .product .pd .c2 {
      margin-left: 5px; }
    .product .pd .c1, .product .pd .c2 {
      width: 139px;
      height: 96px; }
    .product .pd .cake {
      background-size: 40px;
      background-position: center 15px; }
      .product .pd .cake:before {
        left: 50%;
        transform: translateX(-50%);
        font-size: 0.9rem;
        bottom: 10%; }
      .product .pd .cake:hover {
        background-size: 40px;
        background-position: center 15px; }
    .product .pd .maca {
      background-size: 50px;
      background-position: center 30px; }
      .product .pd .maca:before {
        left: 50%;
        transform: translateX(-50%);
        font-size: 0.9rem;
        bottom: 10%; }
      .product .pd .maca:hover {
        background-size: 50px;
        background-position: center 30px; }
    .product .pd .cup {
      background-size: 34px;
      background-position: center 12px; }
      .product .pd .cup:before {
        left: 50%;
        transform: translateX(-50%);
        font-size: 0.9rem;
        bottom: 10%; }
      .product .pd .cup:hover {
        background-size: 34px;
        background-position: center 12px; }
    .product .pd .ev {
      background-size: 40px;
      background-position: center 13px; }
      .product .pd .ev:before {
        left: 50%;
        transform: translateX(-50%);
        font-size: 0.9rem;
        bottom: 10%; }
      .product .pd .ev:hover {
        background-size: 40px;
        background-position: center 13px; }
  .bake .pop1 {
    width: 110px;
    top: 8%; }
  .bake .pop2 {
    width: 120px;
    bottom: -2%; }
  .bake .bake1 .text {
    width: 100%;
    margin-left: 0;
    padding-left: 20px;
    padding-right: 25px;
    height: auto;
    padding-bottom: 50px;
    text-align: right; }
    .bake .bake1 .text h5 {
      font-size: 1.4rem;
      padding-bottom: 20px; }
    .bake .bake1 .text p {
      font-size: 0.9rem; }
      .bake .bake1 .text p span {
        display: none; }
  .bake .bake1 .video {
    display: none; }
  .gallery {
    padding-top: 0;
    padding-bottom: 50px; }
    .gallery .gallery1 h5 {
      font-size: 1.4rem;
      padding-bottom: 20px;
      margin-bottom: 0; }
    .gallery .left1, .gallery .right1 {
      top: 39.5%; }
    .gallery .left1 {
      left: 1%; }
    .gallery .right1 {
      right: 1%; }
    .gallery .hang2 .khungAnh {
      width: 120px;
      margin-bottom: 10px; }
      .gallery .hang2 .khungAnh:before {
        padding-bottom: 127.11%; }
    .gallery .hang2 .c1 {
      margin-left: 15px; }
    .gallery .hang2 .c2 {
      margin-left: 5px; }
  footer .parallax-footer {
    min-height: 150px; }
  footer .ft {
    top: 18px; }
    footer .ft .logo img {
      width: 100px; }
    footer .ft .nut {
      margin-top: 20px;
      margin-bottom: 10px; }
      footer .ft .nut a img {
        width: 30px; }
      footer .ft .nut a:nth-child(2) {
        margin-left: 25px;
        margin-right: 25px; }
    footer .ft p {
      font-size: 0.8rem;
      margin-bottom: 0; }
  .prdpage .heading {
    width: 100%;
    left: 50%;
    transform: translate(-50%, 0); }
  .prdpage .parallax-pd, .prdpage .parallax-cart, .prdpage .parallax-about, .prdpage .parallax-contact, .prdpage .parallax-gallery, .prdpage .parallax-baking {
    min-height: 155px; }
  .prdpage .heading {
    bottom: 5px; }
    .prdpage .heading h1 {
      font-size: 1.5rem;
      margin-bottom: 15px; }
    .prdpage .heading p {
      text-align: right;
      font-size: 0.8rem;
      float: right;
      max-width: 150px;
      margin-bottom: 0; }
  .icon .khungAnh:before {
    padding-bottom: 100%; }
  .icon .icon1 {
    width: 100%;
    left: 50%;
    transform: translate(-50%, 0);
    top: 11%; }
    .icon .icon1 button {
      width: 120px;
      height: 120px; }
    .icon .icon1 .cake {
      background-size: 50px;
      background-position: center 15px; }
      .icon .icon1 .cake:before {
        font-size: 1rem;
        bottom: 17%; }
      .icon .icon1 .cake:hover {
        background-size: 50px;
        background-position: center 15px; }
    .icon .icon1 .maca {
      background-size: 60px;
      background-position: center 35px; }
      .icon .icon1 .maca:before {
        font-size: 1rem;
        bottom: 17%; }
      .icon .icon1 .maca:hover {
        background-size: 60px;
        background-position: center 35px; }
    .icon .icon1 .cup {
      background-size: 42px;
      background-position: center 15px; }
      .icon .icon1 .cup:before {
        font-size: 1rem;
        bottom: 17%; }
      .icon .icon1 .cup:hover {
        background-size: 42px;
        background-position: center 15px; }
    .icon .icon1 .ev {
      background-size: 50px;
      background-position: center 15px; }
      .icon .icon1 .ev:before {
        font-size: 1rem;
        bottom: 17%; }
      .icon .icon1 .ev:hover {
        background-size: 50px;
        background-position: center 15px; }
  .products1 .khungAnh:before {
    padding-bottom: 550%; }
  .products1 .hang2 {
    margin-top: 15px; }
  .products1 .prd1 {
    width: 100%;
    left: 50%;
    transform: translate(-50%, 0); }
    .products1 .prd1 .slick-dots {
      margin-top: 30px; }
    .products1 .prd1 .c1, .products1 .prd1 .c3 {
      padding-right: 7px; }
    .products1 .prd1 .c2, .products1 .prd1 .c4 {
      padding-left: 7px; }
    .products1 .prd1 .c1, .products1 .prd1 .c2 {
      margin-bottom: 15px; }
    .products1 .prd1 .cake {
      height: 90px;
      padding-top: 10px; }
      .products1 .prd1 .cake p {
        font-size: 0.8rem; }
        .products1 .prd1 .cake p span {
          display: block; }
  .lb1 {
    width: 250px;
    height: auto; }
    .lb1 .khungAnh:before {
      padding-bottom: 61.86%; }
    .lb1 .cart {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 280px;
      padding: 20px;
      font-size: 1.2rem;
      height: auto; }
      .lb1 .cart p span {
        display: block; }
    .lb1 .content {
      padding: 10px;
      height: auto; }
      .lb1 .content h6 {
        font-size: 1rem;
        margin-bottom: 5px; }
      .lb1 .content .price {
        font-size: 0.9rem;
        margin-bottom: 0; }
      .lb1 .content p {
        margin-bottom: 0;
        font-size: 0.8rem; }
        .lb1 .content p .hide {
          display: none; }
      .lb1 .content .quantity {
        margin-bottom: 0;
        margin-top: 15px; }
      .lb1 .content .add {
        width: 150px;
        height: 40px;
        left: 50%;
        transform: translateX(-50%);
        margin: 0;
        margin-top: 10px; }
        .lb1 .content .add:after {
          width: 220px;
          left: 50%;
          transform: translateX(-50%);
          top: -7px; }
  a.lightbox-close1 {
    z-index: 2;
    font-size: 1.2rem;
    right: -30px;
    top: -7px; }
  .lightbox-target1:target img {
    max-width: unset;
    height: unset; }
  .cart1 {
    text-align: left; }
    .cart1 .khungAnh:before {
      padding-bottom: 450%; }
    .cart1 .pay {
      text-align: center; }
    .cart1 .info {
      text-align: center; }
    .cart1 .cart2 {
      top: 2%; }
      .cart1 .cart2 .pay {
        margin-top: 20px; }
      .cart1 .cart2 .info {
        margin-top: 30px; }
      .cart1 .cart2 .order1 .hang {
        margin-bottom: 20px; }
        .cart1 .cart2 .order1 .hang img {
          width: 100%; }
      .cart1 .cart2 .order1 .cot2 {
        text-align: left;
        padding-left: 0; }
        .cart1 .cart2 .order1 .cot2 p {
          margin-bottom: 0;
          padding-top: 5px;
          font-size: 0.9rem; }
          .cart1 .cart2 .order1 .cot2 p span {
            font-weight: bold;
            text-transform: uppercase;
            margin-right: 5px; }
        .cart1 .cart2 .order1 .cot2 p:first-child {
          padding-top: 0; }
      .cart1 .cart2 .total p {
        font-size: 1.2rem; }
      .cart1 .cart2 .cake {
        padding-top: 15px; }
        .cart1 .cart2 .cake:first-child {
          padding-top: 0; }
      .cart1 .cart2 h5 {
        font-size: 1.2rem;
        text-align: center;
        font-weight: bold; }
      .cart1 .cart2 .info .hang1 input {
        width: 290px;
        margin-left: 0; }
      .cart1 .cart2 .info .hang2 input {
        width: 290px;
        margin-left: 0; }
  .prdpage .cart {
    bottom: 45px; }
  .lb3 {
    width: 280px;
    font-size: 1rem; }
    .lb3 p span {
      display: block; }
  .aboutpage .khungAnh:before {
    padding-bottom: 195%; }
  .aboutpage .ab {
    top: 10%; }
    .aboutpage .ab .khungAnh {
      display: none; }
    .aboutpage .ab .text {
      width: unset;
      height: unset;
      margin-left: 0;
      padding: 30px 20px; }
      .aboutpage .ab .text h5 {
        font-size: 1.5rem; }
      .aboutpage .ab .text p span {
        display: none; }
  .aboutpage .pop1 .khungAnh {
    width: 100px; }
  .wedo .khungAnh:before {
    padding-bottom: 150%; }
  .wedo .ab .khungAnh {
    display: none; }
  .wedo .ab .text {
    width: unset;
    height: unset;
    padding: 30px 20px; }
    .wedo .ab .text h5 {
      font-size: 1.5rem; }
    .wedo .ab .text p span {
      display: none; }
  .staff .staff1 h5 {
    font-size: 1.5rem;
    padding-bottom: 30px; }
  .staff .khungAnh:before {
    padding-bottom: 100%; }
  .staff .left1, .staff .right1 {
    top: 40%; }
  .video01 {
    padding-top: 50px; }
    .video01 .vd .video2 {
      width: 100%;
      height: 150px; }
  .baking {
    padding-top: 50px; }
    .baking .baking1 .hang1 .hide {
      display: none; }
    .baking .baking1 .hang1 h1 {
      font-size: 1.5rem;
      margin-bottom: 20px; }
    .baking .baking1 .hang1 p {
      font-size: 0.9rem;
      margin-bottom: 30px; }
    .baking .baking1 .hang2 .cot {
      margin-bottom: 30px; }
  .classpic {
    padding-top: 30px;
    padding-bottom: 50px; }
    .classpic .class1 h1 {
      font-size: 1.5rem;
      margin-bottom: 30px; }
    .classpic .class1 .hang2 {
      margin-bottom: 15px; }
    .classpic .class1 .a {
      padding-right: 7px; }
    .classpic .class1 .b {
      padding-left: 7px; }
  .baking .baking1 .hang2 .khungAnh:before {
    padding-bottom: 100%; }
  .baking .baking1 .hang2 .cot .text h6 {
    padding-top: 20px;
    font-weight: bolder; }
  .baking .baking1 .hang2 .cot .text p {
    font-size: 1.1rem; }
  .baking .baking1 .hang2 .cot .text button {
    margin-bottom: 20px; }
  .lb2 {
    width: 280px;
    height: 400px; }
    .lb2 .khungAnh:before {
      padding-bottom: 60%; }
    .lb2 .content {
      height: auto; }
      .lb2 .content .content1 {
        padding-top: 15px;
        padding-left: 10px;
        padding-right: 10px; }
        .lb2 .content .content1 h5 {
          font-size: 1.5rem;
          margin-bottom: 10px;
          font-weight: bold; }
        .lb2 .content .content1 .hide {
          display: none; }
        .lb2 .content .content1 h6 {
          font-size: 1rem; }
          .lb2 .content .content1 h6:after {
            width: 80px; }
        .lb2 .content .content1 .bang2 {
          font-size: 0.9rem;
          margin-bottom: 15px; }
          .lb2 .content .content1 .bang2 .tr {
            height: unset; }
            .lb2 .content .content1 .bang2 .tr .td:first-child {
              width: 150px; }
        .lb2 .content .content1 .giua {
          font-size: 0.8rem; }
        .lb2 .content .content1 .detail {
          font-size: 1rem; }
          .lb2 .content .content1 .detail button {
            font-weight: bold;
            text-align: center;
            background-color: #747474;
            color: #fff;
            margin-bottom: 10px;
            height: 35px; }
          .lb2 .content .content1 .detail .bang {
            position: absolute;
            margin-bottom: 0;
            left: 0;
            z-index: 2;
            background-color: #f1f1f1;
            padding: 10px;
            display: none;
            border: solid 1px #333;
            color: #333;
            text-align: left; }
            .lb2 .content .content1 .detail .bang button {
              background-color: transparent;
              width: 20px;
              height: 20px;
              color: #333;
              position: absolute;
              top: 0;
              right: 0; }
            .lb2 .content .content1 .detail .bang .bang3 {
              font-size: 0.9rem; }
              .lb2 .content .content1 .detail .bang .bang3 .tr {
                padding-bottom: 2px; }
                .lb2 .content .content1 .detail .bang .bang3 .tr .td:first-child {
                  vertical-align: top;
                  padding-right: 10px; }
          .lb2 .content .content1 .detail .bangdetail {
            display: block; }
        .lb2 .content .content1 button {
          margin-left: 5px; }
    .lb2 .book1 {
      width: 280px;
      font-size: 1rem; }
      .lb2 .book1 p span {
        display: block; }
  .contact1 {
    padding-top: 60px;
    padding-bottom: 60px; }
    .contact1 .text {
      width: 100%;
      float: none;
      padding: 0;
      padding-top: 30px;
      padding-bottom: 30px;
      height: auto; }
      .contact1 .text h5 {
        font-size: 1.5rem;
        text-align: center;
        margin-bottom: 25px; }
      .contact1 .text h6 {
        font-size: 1.2rem;
        margin-bottom: 15px; }
      .contact1 .text .dif {
        font-size: 0.9rem;
        margin-bottom: 30px;
        margin-left: 0; }
      .contact1 .text p {
        font-size: 0.9rem;
        margin-left: 45px;
        margin-bottom: 10px; }
        .contact1 .text p img {
          width: 20px; }
    .contact1 .map {
      margin-top: 30px;
      height: 200px; }
      .contact1 .map iframe {
        width: 100%;
        height: 100%; }
  .prdpage .contact {
    bottom: 30px; }
    .prdpage .contact p span {
      display: block; }
  .prdpage .gl {
    bottom: 10%; }
    .prdpage .gl p {
      max-width: 170px; }
  .gallerypage {
    padding-bottom: 20px;
    padding-top: 50px; }
    .gallerypage .slick-dots {
      margin-top: 10px; }
    .gallerypage .a {
      padding-right: 7px; }
    .gallerypage .b {
      padding-left: 7px; }
    .gallerypage .gl2 .khungAnh:before {
      padding-bottom: 95%; } }

/*END MIN WIDTH 320PX*/
/*MIN WIDTH 360X*/
@media (min-width: 360px) {
  .products1 .khungAnh:before {
    padding-bottom: 530%; }
  .cart1 .khungAnh:before {
    padding-bottom: 430%; }
  .cart1 .cart2 .order1 .cot2 p {
    padding-top: 12px; }
  .welcome .cot {
    right: 7%; }
  .aboutpage .khungAnh:before {
    padding-bottom: 150%; }
  .wedo .khungAnh:before {
    padding-bottom: 130%; }
  .staff .khungAnh:before {
    padding-bottom: 90%; }
  .contact1 .text p {
    margin-left: 65px; }
  .gallery .hang2 .c1 {
    margin-left: 35px; }
  header .mn .menu .menu1 .drop .drw {
    left: -62%; } }

/*END MIN WIDTH 360PX*/
/*MIN WIDTH 375X*/
@media (min-width: 375px) {
  .homepage .sld .text {
    bottom: 15%; }
  .product .pd .c1, .product .pd .c2 {
    width: 150px; }
  .gallery .hang2 .khungAnh {
    width: 150px; }
  .gallery .hang2 .left1, .gallery .hang2 .right1 {
    top: 40.5%; }
  header .mn .menu .menu1 {
    right: 15%; }
  .products1 .khungAnh:before {
    padding-bottom: 535%; }
  .icon .icon1 {
    top: 15%; }
  .cart1 .khungAnh:before {
    padding-bottom: 410%; }
  .cart1 .cart2 .order1 .cot2 p {
    padding-top: 13px; }
  .aboutpage .khungAnh:before {
    padding-bottom: 150%; }
  .wedo .khungAnh:before {
    padding-bottom: 130%; }
  .staff .khungAnh:before {
    padding-bottom: 90%; }
  .video01 .vd .video2 {
    height: 200px; }
  .gallery .hang2 .c1 {
    margin-left: 15px; } }

/*END MIN WIDTH 375PX*/
/*MIN WIDTH 425PX*/
@media (max-width: 426px) {
  .gallery .hang1 {
    display: none; }
  .classpic .class1 .anhclass .text {
    font-size: 0.9rem;
    padding-bottom: 10px;
    padding-top: 30px; } }

@media (min-width: 426px) {
  .gallery .hang2 {
    display: none; } }

@media (min-width: 425px) {
  .gallery .left1 {
    left: 4%;
    top: 41%; }
  .gallery .right1 {
    right: 4%;
    top: 41%; }
  .gallery .hang2 .khungAnh {
    width: 160px; }
  .gallery .hang2 .c1 {
    margin-left: 30px; }
  .gallery .hang2 .c2 {
    margin-left: 10px; }
  header .left {
    left: 5%; }
  header .right {
    right: 5%; }
  header .mn .menu .menu1 {
    right: 13%; }
  .homepage .sld .text {
    bottom: 20%;
    right: 10%; }
  .products1 .khungAnh:before {
    padding-bottom: 510%; }
  .lb1 {
    width: 350px; }
    .lb1 .content .add:after {
      width: 280px; }
  .icon .khungAnh:before {
    padding-bottom: 80%; }
  .prdpage .parallax-pd, .prdpage .parallax-contact, .prdpage .parallax-about, .prdpage .parallax-gallery, .prdpage .parallax-cart, .prdpage .parallax-baking {
    min-height: 200px; }
  .prdpage .heading {
    bottom: 15px; }
  .prdpage .contact {
    bottom: 30%; }
  .cart1 .khungAnh:before {
    padding-bottom: 410%; }
  .cart1 .cart2 .pay {
    margin-top: 30px; }
  .cart1 .cart2 .info {
    margin-top: 40px; }
  .cart1 .cart2 h5 {
    margin-bottom: 20px; }
  .cart1 .cart2 .order1 .hang {
    margin-bottom: 25px; }
  .cart1 .cart2 .order1 .cot2 p {
    font-size: 1rem;
    padding-top: 17px; }
  .aboutpage .khungAnh:before {
    padding-bottom: 110%; }
  .wedo .khungAnh:before {
    padding-bottom: 100%; }
  .staff .khungAnh:before {
    padding-bottom: 90%; }
  .contact1 .text p {
    margin-left: 85px; } }

/*END MIN WIDTH 425PX*/
/*MIN WIDTH 768PX*/
@media (max-width: 768px) {
  .lb2 .content .khungAnh {
    display: none; }
  .lb2 .content1 .bang1 {
    display: none; }
  .lb2 .content1 .detail {
    display: block; }
  header {
    position: relative; }
    header .khungAnh:before {
      padding-bottom: 48%; }
    header .menu .iconbar {
      display: inline-block; }
    header .menu .menu1 {
      position: absolute;
      z-index: 2;
      right: 10%;
      top: 100%;
      text-align: center;
      background-color: rgba(0, 0, 0, 0.8);
      min-width: 160px;
      display: none; }
      header .menu .menu1 .drop {
        width: 100%; }
      header .menu .menu1 a {
        display: block;
        color: #fff;
        margin: 0;
        padding-bottom: 2px;
        padding-top: 2px;
        border-bottom: solid 1px #7e7e7e; }
        header .menu .menu1 a:hover {
          background-color: #fff;
          border: none;
          color: #333;
          padding-bottom: 2px; }
        header .menu .menu1 a:first-child {
          padding-top: 4px; }
        header .menu .menu1 a:last-child {
          padding-bottom: 4px;
          border: none; }
      header .menu .menu1 .active {
        background-color: #fff;
        border: none;
        color: #333; }
    header .menu .show {
      display: block; }
  .container {
    overflow: visible; }
  .classpic .class1 .anhclass .text {
    font-size: 0.9rem;
    padding-bottom: 20px;
    padding-top: 50px; } }

@media (min-width: 769px) {
  header .mn .menu .menu1 .drop {
    width: auto; }
  header .mn .menu .menu1 .active {
    border-bottom: solid 1px #333;
    padding-bottom: 5px;
    background-color: transparent;
    border-top: none; }
  .lb2 .content .khungAnh {
    display: inline-block; }
  .lb2 .content1 .bang1 {
    display: block; }
  .lb2 .content1 .detail {
    display: none; }
  header .mn .menu i {
    margin-left: 20px; }
  header .mn .menu .iconbar {
    display: none; }
  header .mn .menu .menu1 {
    display: inline-block; }
    header .mn .menu .menu1 a {
      font-size: 0.95rem;
      margin-left: 20px; }
      header .mn .menu .menu1 a:hover {
        border-bottom: solid 1px #666;
        padding-bottom: 5px; }
  header .mn .menu .menu1 a:hover {
    border-bottom: solid 1px #333;
    padding-bottom: 5px;
    background-color: transparent; }
  header .mn .menu .menu1 .active {
    border-bottom: solid 1px #333;
    padding-bottom: 5px;
    background-color: transparent; }
  header .mn .menu .menu1 .drop {
    width: auto; } }

@media (max-width: 767px) {
  .cart1 .cart2 .order {
    display: none; }
  .cart1 .cart2 .order1 {
    display: block; } }

@media (min-width: 768px) {
  .welcome .cot p {
    font-size: 1.2rem; }
  .cart1 .cart2 .order1 {
    display: none; }
  .cart1 .cart2 .order {
    display: block; }
  .container {
    overflow: visible; }
  .homepage .sld .text {
    right: 10%;
    bottom: 30%; }
    .homepage .sld .text h1 {
      font-size: 2.5rem; }
    .homepage .sld .text p {
      font-size: 1.2rem; }
  footer .ft p {
    font-size: 1rem; }
  .product .parallax-product {
    min-height: 400px; }
  .product .pd {
    top: 40px; }
    .product .pd .c1, .product .pd .c2 {
      width: 250px;
      height: 120px; }
    .product .pd .cake {
      background-size: 50px; }
      .product .pd .cake:before {
        font-size: 1rem; }
      .product .pd .cake:hover {
        background-size: 50px; }
    .product .pd .maca {
      background-size: 60px;
      background-position: center 35px; }
      .product .pd .maca:hover {
        background-size: 60px;
        background-position: center 35px; }
      .product .pd .maca:before {
        font-size: 1rem; }
    .product .pd .cup {
      background-size: 40px; }
      .product .pd .cup:hover {
        background-size: 40px; }
      .product .pd .cup:before {
        font-size: 1rem; }
    .product .pd .ev {
      background-size: 50px; }
      .product .pd .ev:hover {
        background-size: 50px; }
      .product .pd .ev:before {
        font-size: 1rem; }
  header .left, header .right {
    font-size: 3rem; }
  header .left {
    left: 5%; }
  header .right {
    right: 5%; }
  header .mn .menu .menu1 {
    right: 7.1%; }
    header .mn .menu .menu1 .active {
      border-bottom: solid 1px #666;
      padding-bottom: 2px;
      border-top: solid 1px #666;
      padding-top: 2px; }
    header .mn .menu .menu1 a {
      padding-bottom: 2px;
      padding-top: 2px; }
      header .mn .menu .menu1 a:hover {
        padding-bottom: 2px; }
      header .mn .menu .menu1 a:first-child {
        padding-top: 4px; }
      header .mn .menu .menu1 a:last-child {
        padding-bottom: 4px; }
    header .mn .menu .menu1 .drop .drw a {
      padding-bottom: 2px;
      padding-top: 2px; }
      header .mn .menu .menu1 .drop .drw a:first-child {
        padding-top: 4px; }
      header .mn .menu .menu1 .drop .drw a:last-child {
        padding-bottom: 4px; }
  header .mn .menu i {
    font-size: 1.2rem; }
  header .logo a img {
    width: 100px; }
  .bake .pop2 {
    width: 120px;
    width: 160px;
    bottom: -5%; }
  .bake .pop1 {
    top: 9%; }
  .bake .bake1 .text {
    padding-left: 25px;
    width: 45%;
    float: right; }
  .bake .bake1 .khoi .video {
    position: absolute;
    right: 45%;
    display: block;
    width: 345px;
    height: 466px; }
    .bake .bake1 .khoi .video iframe {
      width: 100%;
      height: 100%; }
  .about {
    padding-bottom: 80px;
    padding-top: 80px; }
    .about .pop2 {
      top: 4%;
      width: 100px; }
    .about .pop1 {
      right: 7%;
      bottom: 10%;
      width: 180px; }
    .about .ab .text {
      width: 50%; }
    .about .ab .khungAnh {
      height: auto;
      display: block;
      width: 35%; }
      .about .ab .khungAnh:before {
        padding-bottom: 149.5%; }
  .gallery .left1, .gallery .right1 {
    top: 39%; }
  .gallery .left1 {
    left: 6%; }
  .gallery .right1 {
    right: 6%; }
  .products1 .khungAnh:before {
    padding-bottom: 220%; }
  .products1 .hang2 {
    margin-top: 0; }
  .products1 .prd1 .c1, .products1 .prd1 .c2, .products1 .prd1 .c3, .products1 .prd1 .c4 {
    padding-left: 15px;
    padding-right: 15px; }
  .products1 .prd1 .pad {
    padding-right: 7px; }
  .products1 .prd1 .pad2 {
    padding-left: 11px;
    padding-right: 11px; }
  .products1 .prd1 .pad1 {
    padding-left: 7px; }
  .products1 .prd1 .cake {
    height: 100px; }
    .products1 .prd1 .cake p {
      font-size: 1rem; }
  .icon .khungAnh:before {
    padding-bottom: 22%; }
  .lb1 {
    width: 550px; }
    .lb1 .content {
      padding: 15px; }
      .lb1 .content h6 {
        font-size: 1.4rem; }
      .lb1 .content .price {
        font-size: 1.2rem; }
      .lb1 .content p {
        font-size: 1rem; }
      .lb1 .content .quantity {
        margin-top: 35px; }
      .lb1 .content .add {
        margin-top: 20px; }
        .lb1 .content .add:after {
          width: 450px;
          top: -10px; }
  .prdpage .parallax-pd, .prdpage .parallax-cart, .prdpage .parallax-about, .prdpage .parallax-gallery, .prdpage .parallax-contact, .prdpage .parallax-baking {
    min-height: 300px; }
  .prdpage .heading {
    bottom: 30%; }
    .prdpage .heading h1 {
      font-size: 3rem; }
    .prdpage .heading p {
      font-size: 1.2rem;
      max-width: 300px; }
  .prdpage .bk p {
    max-width: unset; }
  .cart1 .khungAnh:before {
    padding-bottom: 180%; }
  .cart1 .cart2 {
    top: 5%;
    text-align: center; }
    .cart1 .cart2 h5 {
      font-size: 1.5rem; }
    .cart1 .cart2 h6 {
      font-size: 1.1rem; }
    .cart1 .cart2 .cake {
      text-align: left; }
      .cart1 .cart2 .cake p {
        display: inline-block; }
    .cart1 .cart2 .info .hang2 input {
      width: 585px; }
  .aboutpage .khungAnh:before {
    padding-bottom: 60%; }
  .aboutpage .pop1 {
    right: 0;
    bottom: 7%; }
    .aboutpage .pop1 .khungAnh {
      width: 150px; }
  .aboutpage .ab .text {
    width: 60%;
    height: 400px; }
  .aboutpage .ab .khungAnh {
    display: block;
    width: 40%;
    height: auto;
    margin-left: 0; }
    .aboutpage .ab .khungAnh:before {
      padding-bottom: 145%; }
  .wedo .khungAnh:before {
    padding-bottom: 65%; }
  .wedo .ab {
    top: 10%; }
    .wedo .ab .text {
      text-align: right;
      height: 400px;
      width: 60%; }
    .wedo .ab .khungAnh {
      display: block;
      width: 40%;
      height: auto;
      margin-left: 0; }
      .wedo .ab .khungAnh:before {
        padding-bottom: 145%; }
  .staff .khungAnh:before {
    padding-bottom: 55%; }
  .video01 .vd .video2 {
    height: 400px; }
  .baking .baking1 .hang1 .hide {
    display: block; }
  .baking .baking1 .hang1 h1 {
    font-size: 2.2rem; }
  .baking .baking1 .hang1 p {
    font-size: 1rem; }
  .baking .baking1 .hang2 .cot1 {
    padding-right: 5px; }
  .baking .baking1 .hang2 .cot2 {
    padding-left: 10px;
    padding-right: 10px; }
  .baking .baking1 .hang2 .cot3 {
    padding-left: 5px; }
  .classpic .class1 h1 {
    font-size: 2.2rem; }
  .classpic .class1 .a, .classpic .class1 .b {
    padding: unset; }
  .classpic .class1 .a1 {
    padding-left: 15px;
    padding-right: 5px; }
  .classpic .class1 .b1 {
    padding-left: 10px;
    padding-right: 10px; }
  .classpic .class1 .c1 {
    padding-left: 5px;
    padding-right: 15px; }
  .contact1 .text {
    margin-left: 50px; }
    .contact1 .text p {
      margin-left: 185px; }
  .contact1 .map {
    height: 300px; }
  .gallerypage .a {
    padding-right: 10px; }
  .gallerypage .b {
    padding-left: 10px; }
  .lb3 {
    width: 500px;
    font-size: 1.2rem; }
    .lb3 p span {
      display: inline; } }

/*END MIN WIDTH 768PX*/
/*MIN WIDTH 992PX*/
@media (max-width: 991px) {
  .lb1 .content .khungAnh {
    display: none; } }

@media (max-width: 992px) {
  .classpic .class1 .anhclass .text {
    font-size: 1rem;
    padding-bottom: 20px;
    padding-top: 80px; } }

@media (min-width: 992px) {
  header .khungAnh:before {
    padding-bottom: 48%; }
  header .mn {
    top: 25px; }
    header .mn .menu .menu1 a:hover {
      border-bottom: solid 1px #333;
      padding-bottom: 5px;
      background-color: transparent; }
    header .mn .menu .menu1 .active {
      border-bottom: solid 1px #333;
      padding-bottom: 5px;
      background-color: transparent;
      border-top: none; }
    header .mn .menu .menu1 .drop {
      width: auto; }
      header .mn .menu .menu1 .drop .drw {
        top: 100%;
        left: 50%; }
  .homepage .sld .text {
    bottom: 40%; }
    .homepage .sld .text p span {
      display: inline; }
  .about {
    padding-bottom: 100px;
    padding-top: 100px; }
    .about .ab .text {
      width: 45%;
      padding-left: 25px;
      height: 456.4px; }
      .about .ab .text p {
        font-size: 1rem; }
        .about .ab .text p span {
          display: inline; }
      .about .ab .text h5 {
        font-size: 2rem; }
    .about .ab .khungAnh {
      width: 30%; }
      .about .ab .khungAnh:before {
        padding-bottom: 163.6%; }
    .about .pop2 {
      width: 110px; }
    .about .pop1 {
      width: 190px;
      bottom: 10%;
      right: 18%; }
  .product .pd {
    top: 70px; }
    .product .pd h5 {
      font-size: 2rem; }
    .product .pd .c1 {
      margin-right: 7px; }
      .product .pd .c1:first-child {
        margin-bottom: 15px; }
    .product .pd .c2 {
      margin-left: 7px; }
  .product .parallax-product {
    min-height: 470px; }
  .bake {
    padding-bottom: 100px; }
    .bake .pop1 {
      width: 150px;
      top: 6%; }
    .bake .pop2 {
      width: 200px; }
    .bake .bake1 .text {
      width: 40%;
      float: right;
      padding-left: 30px;
      height: 460px; }
      .bake .bake1 .text p {
        font-size: 1rem; }
        .bake .bake1 .text p span {
          display: inline; }
      .bake .bake1 .text h5 {
        font-size: 2rem; }
    .bake .bake1 .khoi .video {
      position: absolute;
      right: 40%;
      width: 440px;
      height: 460px; }
  .gallery .gallery1 h5 {
    padding-bottom: 30px;
    font-size: 2rem; }
  .gallery .left1 {
    left: 3%; }
  .gallery .right1 {
    right: 3%; }
  footer .parallax-footer {
    min-height: 250px; }
  footer .ft {
    top: 50px; }
    footer .ft .logo img {
      width: 120px; }
    footer .ft .nut {
      margin-bottom: 30px;
      margin-top: 30px; }
      footer .ft .nut a:nth-child(2) {
        margin-left: 40px;
        margin-right: 40px; }
  .prdpage .parallax-pd, .prdpage .parallax-cart, .prdpage .parallax-about, .prdpage .parallax-gallery, .prdpage .parallax-contact, .prdpage .parallax-baking {
    min-height: 500px; }
  .prdpage .heading {
    bottom: 40%; }
    .prdpage .heading h1 {
      margin-bottom: 30px; }
  .prdpage .gl p {
    max-width: unset; }
  .icon .khungAnh:before {
    padding-bottom: 18%; }
  .products1 .khungAnh:before {
    padding-bottom: 135%; }
  .products1 .prd1 .c1 {
    padding-left: 15px;
    padding-right: 0; }
  .products1 .prd1 .c4 {
    padding-left: 0;
    padding-right: 15px; }
  .products1 .prd1 .c2 {
    padding-left: 10px;
    padding-right: 5px; }
  .products1 .prd1 .c3 {
    padding-left: 5px;
    padding-right: 10px; }
  .products1 .prd1 .hang {
    margin-top: 15px; }
  .lb1 {
    width: 750px; }
    .lb1 .khungAnh {
      display: none; }
    .lb1 .cart {
      width: 600px;
      height: 150px;
      font-size: 1.5rem;
      padding-top: 50px; }
      .lb1 .cart p span {
        display: inline; }
    .lb1 .content {
      padding: 0;
      padding-right: 40px;
      height: 500px; }
      .lb1 .content .price {
        margin-bottom: 10px; }
      .lb1 .content .add {
        margin-bottom: 20px;
        left: 7%;
        transform: unset;
        width: 268px;
        height: 57px; }
        .lb1 .content .add:after {
          width: 424px; }
      .lb1 .content h6 {
        padding-top: 20px;
        margin-bottom: 20px; }
      .lb1 .content p .hide {
        display: block;
        margin-top: 10px; }
      .lb1 .content .khungAnh {
        display: block;
        width: 324px;
        float: left;
        height: 500px;
        margin-right: 30px; }
        .lb1 .content .khungAnh:before {
          padding-bottom: 170%; }
  .lightbox-target1:target img {
    height: 100%; }
  a.lightbox-close1 {
    font-size: 1.5rem; }
  .macaroon .content .khungAnh {
    height: 500px; }
  .cart1 .khungAnh:before {
    padding-bottom: 145%; }
  .cart1 .cart2 h6 {
    font-size: 1.2rem; }
  .cake1 .content {
    height: 550px; }
    .cake1 .content .khungAnh {
      height: 550px; }
  .aboutpage .khungAnh:before {
    padding-bottom: 50%; }
  .aboutpage .pop1 {
    right: 5%;
    bottom: 5%; }
    .aboutpage .pop1 .khungAnh {
      width: 150px; }
  .aboutpage .ab .text {
    width: 50%;
    height: 400px;
    margin-left: 10%; }
  .aboutpage .ab .khungAnh {
    display: block;
    width: 30%;
    height: auto;
    margin-left: 0; }
    .aboutpage .ab .khungAnh:before {
      padding-bottom: 143%; }
  .wedo .khungAnh:before {
    padding-bottom: 50%; }
  .wedo .ab {
    top: 10%; }
    .wedo .ab .text {
      text-align: right;
      height: 400px;
      width: 50%; }
    .wedo .ab .khungAnh {
      display: block;
      width: 30%;
      margin-left: 10%;
      height: auto; }
      .wedo .ab .khungAnh:before {
        padding-bottom: 143%; }
  .staff .khungAnh:before {
    padding-bottom: 45%; }
  .video01 .vd .video2 {
    height: 500px; }
  .lb2 {
    width: 800px; }
    .lb2 .content .khungAnh {
      height: 523px; }
      .lb2 .content .khungAnh:before {
        padding-bottom: 137%; }
    .lb2 .content .content1 h6:after {
      width: 200px;
      right: -12.7%; }
    .lb2 .content .content1 .giua {
      font-size: 0.9rem; }
    .lb2 .content .content1 button {
      margin-left: 55px; }
    .lb2 .book1 {
      width: 500px;
      font-size: 1.5rem; }
      .lb2 .book1 p span {
        display: inline; }
  .contact1 .text {
    margin-left: 0;
    float: left;
    width: 60%;
    height: 400px; }
    .contact1 .text h5 {
      font-size: 1.7rem; }
    .contact1 .text h6 {
      font-size: 1.4rem; }
    .contact1 .text .dif {
      font-size: 1rem; }
    .contact1 .text p {
      font-size: 1rem; }
  .contact1 .map {
    width: 40%;
    display: inline-block;
    height: 400px;
    margin-top: 0; }
  .gallerypage .a {
    padding-right: unset; }
  .gallerypage .b {
    padding-left: unset; }
  .gallerypage .a1 {
    padding-right: 5px; }
  .gallerypage .b1 {
    padding-left: 12px;
    padding-right: 8px; }
  .gallerypage .d1 {
    padding-left: 8px;
    padding-right: 12px; }
  .gallerypage .c1 {
    padding-left: 5px; }
  .gallerypage .gl2 .khungAnh:before {
    padding-bottom: 90%; }
  .gallerypage .slick-dots {
    margin-top: 0; } }

/*END MIN WIDTH 992PX*/
/*MIN WIDTH 1024PX*/
@media (min-width: 1024px) {
  footer .parallax-footer {
    min-height: 300px; }
  footer .ft {
    top: 60px; }
  .product .parallax-product {
    min-height: 550px; }
  .product .pd {
    top: 55px; }
    .product .pd .c1, .product .pd .c2 {
      width: 350px;
      height: 170px; }
    .product .pd .cake {
      background-size: 70px;
      background-position: center 30px; }
      .product .pd .cake:before {
        font-size: 1.2rem;
        bottom: 12%; }
      .product .pd .cake:hover {
        background-size: 70px;
        background-position: center 30px; }
    .product .pd .maca {
      background-size: 80px;
      background-position: center 55px; }
      .product .pd .maca:before {
        font-size: 1.2rem;
        bottom: 12%; }
      .product .pd .maca:hover {
        background-size: 80px;
        background-position: center 55px; }
    .product .pd .cup {
      background-size: 55px;
      background-position: center 30px; }
      .product .pd .cup:before {
        font-size: 1.2rem;
        bottom: 12%; }
      .product .pd .cup:hover {
        background-size: 55px;
        background-position: center 30px; }
    .product .pd .ev {
      background-size: 70px;
      background-position: center 30px; }
      .product .pd .ev:before {
        font-size: 1.2rem;
        bottom: 12%; }
      .product .pd .ev:hover {
        background-size: 70px;
        background-position: center 30px; }
  .gallery .left1 {
    left: 4.5%;
    top: 41%; }
  .gallery .right1 {
    right: 4.5%;
    top: 41%; }
  .bake .pop2 {
    width: 190px; }
  .icon .khungAnh:before {
    padding-bottom: 28%; }
  .icon .icon1 button {
    width: 180px;
    height: 180px; }
  .icon .icon1 .cake {
    background-size: 60px;
    background-position: center 30px; }
    .icon .icon1 .cake:before {
      bottom: 20%;
      font-size: 1.2rem; }
    .icon .icon1 .cake:hover {
      background-size: 60px;
      background-position: center 30px; }
  .icon .icon1 .maca {
    background-size: 70px;
    background-position: center 55px; }
    .icon .icon1 .maca:before {
      bottom: 20%;
      font-size: 1.2rem; }
    .icon .icon1 .maca:hover {
      background-size: 70px;
      background-position: center 55px; }
  .icon .icon1 .cup {
    background-size: 50px;
    background-position: center 35px; }
    .icon .icon1 .cup:before {
      bottom: 20%;
      font-size: 1.2rem; }
    .icon .icon1 .cup:hover {
      background-size: 50px;
      background-position: center 35px; }
  .icon .icon1 .ev {
    background-size: 60px;
    background-position: center 35px; }
    .icon .icon1 .ev:before {
      bottom: 20%;
      font-size: 1.2rem; }
    .icon .icon1 .ev:hover {
      background-size: 60px;
      background-position: center 35px; }
  .products1 .khungAnh:before {
    padding-bottom: 130%; }
  .products1 .prd1 .cake .btitle {
    display: block; }
  .cart1 .khungAnh:before {
    padding-bottom: 135%; }
  .aboutpage .khungAnh:before {
    padding-bottom: 65%; }
  .aboutpage .pop1 {
    right: 5%;
    bottom: 5%; }
    .aboutpage .pop1 .khungAnh {
      width: 150px; }
  .aboutpage .ab .text {
    width: 50%;
    height: 530px;
    margin-left: 5%; }
    .aboutpage .ab .text p span {
      display: block; }
    .aboutpage .ab .text h5 {
      font-size: 2rem; }
  .aboutpage .ab .khungAnh {
    display: block;
    width: 40%;
    height: auto;
    margin-left: 0; }
    .aboutpage .ab .khungAnh:before {
      padding-bottom: 142%; }
  .wedo .khungAnh:before {
    padding-bottom: 65%; }
  .wedo .ab {
    top: 10%; }
    .wedo .ab .text {
      text-align: right;
      height: 530px;
      width: 50%; }
      .wedo .ab .text h5 {
        font-size: 2rem; }
    .wedo .ab .khungAnh {
      display: block;
      width: 40%;
      margin-left: 5%;
      height: auto; }
      .wedo .ab .khungAnh:before {
        padding-bottom: 142%; }
  .staff .khungAnh:before {
    padding-bottom: 45%; }
  .staff .staff1 h5 {
    font-size: 2rem; }
  .contact1 {
    padding-bottom: 100px;
    padding-top: 100px; }
    .contact1 .text {
      width: 50%;
      margin-left: 7.5%; }
      .contact1 .text p {
        margin-left: 125px; }
    .contact1 .map {
      width: 35%; }
  .prdpage .heading h1 {
    margin-bottom: 30px; }
  .prdpage .contact p {
    max-width: unset; }
    .prdpage .contact p span {
      display: inline; }
  .cart1 .cart2 h5 {
    margin-bottom: 40px; }
  .cart1 .cart2 .pay {
    margin-top: 100px; } }

/*END MIN WIDTH 1024PX*/
/*MIN WIDTH 1200PX*/
@media (min-width: 1200px) {
  header .khungAnh:before {
    padding-bottom: 45%; }
  header .left {
    left: 3%;
    top: 40%; }
  header .right {
    right: 3%;
    top: 40%; }
  header .mn .logo a img {
    width: 120px; }
  .homepage .sld .text {
    bottom: 45%;
    right: 7%; }
    .homepage .sld .text h1 {
      font-size: 3.5rem; }
    .homepage .sld .text p {
      font-size: 1.5rem; }
      .homepage .sld .text p span {
        display: inline; }
  .about .pop2 {
    width: 150px;
    top: 5%; }
  .about .pop1 {
    width: 250px;
    right: 18%;
    bottom: 7%; }
  .about .ab .text {
    height: 540px;
    width: 45%; }
    .about .ab .text h5 {
      font-size: 2.5rem;
      padding-bottom: 30px; }
    .about .ab .text p {
      font-size: 1rem; }
  .about .ab .khungAnh {
    width: 35%; }
    .about .ab .khungAnh:before {
      padding-bottom: 138.5%; }
  .product .parallax-product {
    min-height: 600px; }
  .product .pd {
    top: 65px; }
    .product .pd h5 {
      font-size: 2.5rem; }
    .product .pd .c1, .product .pd .c2 {
      width: 370px;
      height: 179px; }
      .product .pd .c1:first-child, .product .pd .c2:first-child {
        margin-bottom: 15px; }
    .product .pd .c1 {
      margin-right: 7px; }
    .product .pd .c2 {
      margin-left: 7px; }
    .product .pd .maca {
      background-position: center 62px; }
      .product .pd .maca:hover {
        background-position: center 62px; }
  .bake {
    padding-top: 100px; }
    .bake .pop1 {
      width: 200px;
      top: 7%; }
    .bake .pop2 {
      width: 250px; }
    .bake .bake1 .text {
      height: 540px; }
      .bake .bake1 .text h5 {
        font-size: 2.5rem; }
      .bake .bake1 .text p {
        font-size: 1rem; }
    .bake .bake1 .khoi .video {
      width: 520px;
      height: 540px; }
  .gallery {
    padding-bottom: 70px; }
    .gallery .left1 {
      left: 4%;
      top: 40%; }
    .gallery .right1 {
      right: 4%;
      top: 40%; }
    .gallery .gallery1 h5 {
      font-size: 2.5rem; }
  footer .ft {
    top: 60px; }
    footer .ft .logo img {
      width: 140px; }
    footer .ft .nut {
      margin-top: 35px;
      margin-bottom: 40px; }
      footer .ft .nut a img {
        width: 40px; }
  .icon .khungAnh:before {
    padding-bottom: 22%; }
  .products1 .khungAnh:before {
    padding-bottom: 125%; }
  .products1 .prd1 .cake {
    height: 90px; }
    .products1 .prd1 .cake p span {
      display: inline; }
    .products1 .prd1 .cake .price {
      margin-top: 10px; }
    .products1 .prd1 .cake i {
      margin-top: 20px; }
  .prdpage parrallax-pd, .prdpage .parallax-cart, .prdpage .parallax-about, .prdpage .parallax-gallery, .prdpage .parallax-contact, .prdpage .parallax-baking {
    min-height: 600px; }
  .prdpage .heading h1 {
    font-size: 4rem; }
  .cart1 .khungAnh:before {
    padding-bottom: 115%; }
  .aboutpage .khungAnh:before {
    padding-bottom: 60%; }
  .aboutpage .pop1 {
    right: 7%;
    bottom: 5%; }
    .aboutpage .pop1 .khungAnh {
      width: 180px; }
  .aboutpage .ab .text {
    width: 50%;
    height: 550px;
    margin-left: 10%;
    padding: 30px 35px; }
    .aboutpage .ab .text p span {
      display: block; }
    .aboutpage .ab .text h5 {
      font-size: 2.5rem; }
  .aboutpage .ab .khungAnh {
    display: block;
    width: 30%;
    height: auto;
    margin-left: 0; }
    .aboutpage .ab .khungAnh:before {
      padding-bottom: 165.5%; }
  .wedo .khungAnh:before {
    padding-bottom: 60%; }
  .wedo .ab {
    top: 10%; }
    .wedo .ab .text {
      text-align: right;
      height: 550px;
      width: 50%;
      padding: 30px 35px; }
      .wedo .ab .text h5 {
        font-size: 2.5rem; }
    .wedo .ab .khungAnh {
      display: block;
      width: 30%;
      margin-left: 10%;
      height: auto; }
      .wedo .ab .khungAnh:before {
        padding-bottom: 165.5%; }
  .staff .khungAnh:before {
    padding-bottom: 45%; }
  .staff .staff1 h5 {
    font-size: 2.5rem; }
  .lb2 {
    width: 1000px;
    height: 600px; }
    .lb2 .content {
      height: 600px; }
      .lb2 .content .khungAnh {
        display: inline-block;
        float: left;
        width: 382px;
        height: 600px;
        margin-right: 30px; }
        .lb2 .content .khungAnh:before {
          padding-bottom: 183.6%; }
      .lb2 .content .content1 {
        padding-top: 30px;
        padding-right: 30px;
        padding-bottom: 30px; }
        .lb2 .content .content1 h5 {
          font-size: 2.5rem;
          margin-bottom: 30px; }
        .lb2 .content .content1 .bang1 {
          margin-bottom: 30px; }
          .lb2 .content .content1 .bang1 .tr .td:first-child {
            font-weight: bold; }
          .lb2 .content .content1 .bang1 .tr .td:last-child {
            font-style: italic;
            padding-left: 10px; }
        .lb2 .content .content1 h6 {
          font-size: 1.5rem;
          font-weight: bold;
          text-transform: uppercase;
          position: relative;
          margin-bottom: 15px; }
          .lb2 .content .content1 h6:after {
            content: "";
            position: absolute;
            border-bottom: solid 1px #333;
            width: 300px;
            top: 50%;
            transform: translateX(-50%);
            right: -15%; }
        .lb2 .content .content1 .bang2 {
          margin-bottom: 30px;
          font-size: 1rem; }
          .lb2 .content .content1 .bang2 .tr {
            height: 40px; }
            .lb2 .content .content1 .bang2 .tr .td:first-child {
              font-weight: bold;
              padding-right: 10px;
              width: unset; }
            .lb2 .content .content1 .bang2 .tr .td:last-child {
              width: 250px; }
            .lb2 .content .content1 .bang2 .tr .td input {
              box-sizing: border-box;
              width: 100%;
              border: solid 1px #747474;
              padding-left: 5px; }
        .lb2 .content .content1 .giua {
          text-align: center; }
        .lb2 .content .content1 button {
          text-align: center;
          width: 250px;
          height: 50px;
          margin-left: 150px;
          background-color: #747474;
          color: #fff; }
          .lb2 .content .content1 button:hover {
            background-color: rgba(0, 0, 0, 0.7); }
    .lb2 .book1 {
      background-color: #f1f1f1;
      width: 500px;
      padding: 30px;
      text-align: center;
      font-size: 1.5rem;
      position: absolute;
      z-index: 2;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      visibility: hidden; }
  .video01 .vd .video2 {
    width: 1000px;
    height: 500px; }
  .baking {
    padding-top: 80px; }
    .baking .baking1 .hang2 .khungAnh:before {
      padding-bottom: 120%; }
  .contact1 .text {
    height: 500px;
    padding-top: 45px;
    width: 45%;
    margin-left: 5%; }
    .contact1 .text h5 {
      font-size: 2rem;
      margin-bottom: 40px; }
    .contact1 .text h6 {
      font-size: 1.5rem;
      margin-bottom: 20px; }
    .contact1 .text p {
      margin-left: 30%; }
  .contact1 .map {
    height: 500px;
    width: 45%; } }

/*END MIN WIDTH 1200PX*/
/*MIN WIDTH 1366PX*/
@media (min-width: 1366px) {
  .homepage .sld .text {
    bottom: 45%; }
    .homepage .sld .text h1 {
      font-size: 3.5rem; }
    .homepage .sld .text p {
      font-size: 1.5rem; }
      .homepage .sld .text p span {
        display: inline; }
  header .left, header .right {
    font-size: 4rem; }
  header .mn .logo a img {
    width: 120px; }
  .about .pop2 {
    width: 150px;
    top: 5%; }
  .about .pop1 {
    width: 250px;
    right: 18%;
    bottom: 7%; }
  .about .ab .text {
    height: 540px;
    width: 45%; }
    .about .ab .text h5 {
      font-size: 2.5rem;
      padding-bottom: 30px; }
    .about .ab .text p {
      font-size: 1rem; }
  .about .ab .khungAnh {
    width: 35%; }
    .about .ab .khungAnh:before {
      padding-bottom: 138.5%; }
  .product .parallax-product {
    min-height: 600px; }
  .product .pd {
    top: 65px; }
    .product .pd h5 {
      font-size: 2.5rem; }
    .product .pd .c1, .product .pd .c2 {
      width: 370px;
      height: 179px; }
      .product .pd .c1:first-child, .product .pd .c2:first-child {
        margin-bottom: 15px; }
    .product .pd .c1 {
      margin-right: 7px; }
    .product .pd .c2 {
      margin-left: 7px; }
  .bake {
    padding-top: 100px; }
    .bake .pop1 {
      width: 200px;
      top: 10%; }
    .bake .pop2 {
      width: 250px; }
    .bake .bake1 .text {
      height: 540px; }
      .bake .bake1 .text h5 {
        font-size: 2.5rem; }
      .bake .bake1 .text p {
        font-size: 1rem; }
    .bake .bake1 .khoi .video {
      width: 520px;
      height: 540px; }
  .gallery {
    padding-bottom: 70px; }
    .gallery .left1 {
      left: 9.5%;
      top: 41%; }
    .gallery .right1 {
      right: 9.5%;
      top: 41%; }
    .gallery .gallery1 h5 {
      font-size: 2.5rem; }
  .products1 .khungAnh:before {
    padding-bottom: 110%; }
  .prdpage .heading h1 {
    margin-bottom: 25px; }
  .prdpage .bk p {
    max-width: unset; }
  .cart1 .khungAnh:before {
    padding-bottom: 100%; }
  .aboutpage .khungAnh:before {
    padding-bottom: 50%; }
  .aboutpage .pop1 {
    right: 10%;
    bottom: 5%; }
    .aboutpage .pop1 .khungAnh {
      width: 180px; }
  .aboutpage .ab .text {
    width: 50%;
    height: 550px;
    margin-left: 10%; }
    .aboutpage .ab .text p span {
      display: block; }
    .aboutpage .ab .text h5 {
      font-size: 2.5rem; }
  .aboutpage .ab .khungAnh {
    display: block;
    width: 30%;
    height: auto;
    margin-left: 0; }
    .aboutpage .ab .khungAnh:before {
      padding-bottom: 165.5%; }
  .wedo .khungAnh:before {
    padding-bottom: 50%; }
  .wedo .ab {
    top: 10%; }
    .wedo .ab .text {
      text-align: right;
      height: 550px;
      width: 50%; }
      .wedo .ab .text h5 {
        font-size: 2.5rem; }
    .wedo .ab .khungAnh {
      display: block;
      width: 30%;
      margin-left: 10%;
      height: auto; }
      .wedo .ab .khungAnh:before {
        padding-bottom: 165.5%; }
  .staff .khungAnh:before {
    padding-bottom: 40%; }
  .staff .staff1 h5 {
    font-size: 2.5rem; } }

/*END MIN WIDTH 1366PX*/
