﻿a:focus{
    outline:none;
}

.lightbox-target {
  position: fixed;
  top: -100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  opacity: 0;
  -webkit-transition: opacity .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out;
  -o-transition: opacity .5s ease-in-out;
  transition: opacity .5s ease-in-out;
  overflow: hidden;
  z-index:300;
}

.lightbox-target .lb {
  margin: auto;
  position: absolute;
  top: 50vh;
  left: 50vw;  
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  text-align:left;
  transform: translate3d(-50%, -50%, 0);
}

a.lightbox-close {
  display: block;
  width: 50px;
  height: 50px;
  color: black;
  text-decoration: none;
  position: absolute;
  top: 0px;
  right: -20px;
  margin: 0;
  padding-top: 10px;
}

.lightbox-target:target {
  opacity: 1;
  top: 0;
  bottom: 0;
}

.lightbox-target:target img {
    height: 400px;    
    vertical-align: top;
}

.lb{
    width: 40%;
    max-width:425px;
    max-height: 425px;
}

.lb img{
    width:100%;
}













.lightbox-target1 {
  position: fixed;
  top: -100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  opacity: 0;
  -webkit-transition: opacity .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out;
  -o-transition: opacity .5s ease-in-out;
  transition: opacity .5s ease-in-out;
  overflow: hidden;
  z-index:300;
}

.lightbox-target1 .lb1 {
  margin: auto;
  position: absolute;
  top: 50vh;
  left: 50vw;  
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  text-align:left;
  transform: translate3d(-50%, -50%, 0);
}

a.lightbox-close1 {
  display: block;
  width: 50px;
  height: 50px;
  color: black;
  text-decoration: none;
  position: absolute;
  top: 0px;
  right: -20px;
  margin: 0;
  padding-top: 10px;
  font-size:1.5rem;
}

.lightbox-target1:target {
  opacity: 1;
  top: 0;
  bottom: 0;
}

.lightbox-target1:target img {
    height:572px;   
    vertical-align: top;
    float:left;
    max-width:382px;
}

.lb1{    
    width:828px;  
    max-height: 572px;
}

.lb1 .content{
    background-color:#f1f1f1;    
    height:572px;
    padding:27px 55px 9px 409px;
}













.lightbox-target2 {
  position: fixed;
  top: -100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  opacity: 0;
  -webkit-transition: opacity .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out;
  -o-transition: opacity .5s ease-in-out;
  transition: opacity .5s ease-in-out;
  overflow: hidden;
  z-index:300;
}

.lightbox-target2 .lb2 {
  margin: auto;
  position: absolute;
  top: 50vh;
  left: 50vw;  
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  text-align:left;
  transform: translate3d(-50%, -50%, 0);
}

a.lightbox-close2 {
  display: block;
  width: 50px;
  height: 50px;
  color: black;
  text-decoration: none;
  position: absolute;
  top: 0px;
  right: -20px;
  margin: 0;
  padding-top: 10px;
  font-size:1.5rem;
}

.lightbox-target2:target {
  opacity: 1;
  top: 0;
  bottom: 0;
}

.lightbox-target2:target img {       
    vertical-align: top;
    float:left;
    max-width:382px;
    height:100%;
}

.lb2{    
    width:1000px;  
    max-height: 700px;
}



.lb2 .content{
    background-color:#f1f1f1;    
    height:700px;
    padding:0;
}












.lightbox-target3 {
  position: fixed;
  top: -100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  opacity: 0;
  -webkit-transition: opacity .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out;
  -o-transition: opacity .5s ease-in-out;
  transition: opacity .5s ease-in-out;
  overflow: hidden;
  z-index:300;
}

.lightbox-target3 .lb3 {
  margin: auto;
  position: absolute;
  top: 50vh;
  left: 50vw;  
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  text-align:left;
  transform: translate3d(-50%, -50%, 0);
}

a.lightbox-close3 {
  display: block;
  width: 50px;
  height: 50px;
  color: black;
  text-decoration: none;
  position: absolute;
  top: 0px;
  right: -20px;
  margin: 0;
  padding-top: 10px;
  font-size:1.5rem;
}


.payment{
    opacity: 1;
    top: 0;
    bottom: 0;
}


.payment img{
    vertical-align: top;
    float:left;
    max-width:382px;
    height:100%;
}



.lb3{    
    width:500px;  
    max-height: 100px;
}

.lb3 .cart{
    width:100%;
    height:100%;
    background-color:#f1f1f1;
    color:#333;
    text-align:center;
    padding:10px;
    font-size:1.5rem;
}


.lb3 .content{
    background-color:#f1f1f1;    
    height:100px;
    padding:0;
}